/******************************************************************************
 
 ******************************************************************************/
#hero {
background-position: center;
background-repeat: no-repeat;
background-color: rgb(0,0,150); /* TODO: change to proper blue */
}


/******************************************************************************
 NAVIGATION
 ******************************************************************************/
nav ul li {
  display:inline;
}

nav ul li:after {
  content: "/";
  padding: 0 1em 0 1em;
}


nav ul li:last-child:after {
  content: none;
}


/******************************************************************************
 MEDIA QUERIES
 ******************************************************************************/

/*
 * Phones
 */
@media only all and (max-width: 48em){
  #hero{
    background-image: url('../img/hero-background-large.jpg');
    min-height: 450px;
  }

}

/*
 * Desktops / tablets
 */
@media only all and (min-width: 48em){
  #hero{
    background-image: url('../img/hero-background-large.jpg');
    min-height: 768px;
  }

}

