<div id="resetpassword">
    <h3>Reset Password</h3>

    <div layout="column" class="md-inline-form">
        <form  #resetPasswordForm="ngForm" (ngSubmit)="onSubmit()">
            <md-content>
                <section layout="row" layout-align="center center" layout-wrap>
                    <md-input *ngIf="!resetToken" type="email" placeholder="Email Address" name="email" [(ngModel)]="email" required></md-input>
                    <md-input *ngIf="resetToken" type="password" placeholder="New Password" name="password" [(ngModel)]="password" required></md-input>
                    <md-input *ngIf="resetToken" type="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword" required></md-input>
                    <button md-raised-button class="md-raised">{{ resetToken ? 'Request Reset' : 'Reset Password' }}</button>
                </section>
            </md-content>
        </form>
    </div>
</div>