extends layout

block content
  div.row
    div.col-md-12
      h1 CSG Blog Adminstration
      p From this site you can manage the content of the CSG site blog, news,
        | and event posts. When you submit a new post, the content approvers
        | are notified. If your post is approved, it will be published to the
        | interwebs.
      p All posts are written in a small language called
        a(href='http://en.wikipedia.org/wiki/Markdown') markdown.
        | Don't be afraid, markdown is a super easy to learn and it looks
        | almost entirely like plain text. As an added bonus, you get an instant
        | preview of the post you are writing right in your web browser. Enjoy!
      p If you have any problems, please contact kenh@csgpro.com.
