doctype
html(data-ng-app='app', data-ng-controller='AppCtrl as appViewModel')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title(data-ng-bind='appViewModel.pageTitle') Loading...
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/css/admin-app.css')

  body

    div(data-ng-include='\'navbar/navbar.html\'')

    div(data-ng-include='\'toolbar/toolbar.html\'')

    div(data-ng-include='\'partials/toaster.html\'')

    div(data-cg-busy='loadingData').view-container
        div(data-ng-view='').container.main

    script(src='/js/admin-libs.js')
    script(src='/js/admin-app.js')
    script(src='/js/admin-templates.js')
