extends layout

block content
  div.row.text-center
    if !user
      if (message)
        div(class="alert alert-danger")= message
      h1 Login with
      br
      a.btn.btn-primary(href='/auth-old/twitter') Twitter
      br
      br
      a.btn.btn-primary(href='/auth-old/live') Microsoft Live
    else
      p You are already logged in as #{user.username}
