<footer class="main-footer">
    <div class="row column footer-content">
        <a href="/" class="show-for-large"><img src="/resources/images/site/csg-pro-logo.png" style="width: 40px;"></a>
        <ul class="csg-links">
            <li><a href="/">Main</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/business-analytics">Business Analytics</a></li>
            <li><a href="/careers">Careers</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/custom-software">Custom Software</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/stories">Stories</a></li>
        </ul>

        <div class="social-links float-right">
            <a href="https://twitter.com/csgpro"><img src="/resources/images/site/twitter_icon.svg" style="width: 20px; height: 20px; margin-right: 4px;"></a>
            <a href="https://www.linkedin.com/company/csg-pro"><img src="/resources/images/site/linkedin_icon.svg" style="width: 20px; height: 20px"></a>
        </div>
        
        <p class="copyright">&copy; 1993‐{{formatDate "YYYY"}} CSG Professional Services, Inc. All rights reserved.</p>
        
    </div>
</footer>