<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}} | {{sitename}}</title>
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="/resources/images/site/favicon.ico">
    <link rel="stylesheet" href="/resources/styles/foundation-icons/foundation-icons.css">
    <link rel="stylesheet" href="/resources/styles/main.css">
    
    <script src="https://use.typekit.net/yuz6tsm.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="/resources/scripts/polyfills.bundle.js"></script>
    <script src="/resources/scripts/vendor.bundle.js"></script>

</head>