
{{! Import the contents of side-nav.html from partials}}
{{> side-nav}}

<div class="csg top-bar show-for-medium">
    <div class="row">
        <ul class="dropdown menu" data-dropdown-menu>
            <li role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-expanded="false" aria-label="Solutions" data-is-click="false"><a>Solutions</a>
                <ul class="menu submenu is-dropdown-submenu first-sub vertical" data-submenu="" aria-hidden="true" role="menu">
                    <li><a href="/custom-software">Custom Software</a></li>
                    <li><a href="/data-warehousing">Data Warehousing</a></li>
                    <li><a href="/business-analytics">Business Analytics</a></li>
                    <li><a href="/training">Training</a></li>
                </ul>
            </li>
            <li role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-expanded="false" aria-label="Tools" data-is-click="false"><a>Tools</a>
                <ul class="menu submenu is-dropdown-submenu first-sub vertical" data-submenu="" aria-hidden="true" role="menu">
                    <li><a href="https://www.wherescape.com/solutions/automation-software/">Wherescape</a></li>
                    <li><a href="https://powerbi.microsoft.com/en-us/partner-showcase/csg-pro-sales-analytics/">Microsoft Power BI</a></li>
                    <li><a href="https://azure.microsoft.com/en-us/">Microsoft Azure</a></li>
                </ul>
            </li>          
            <li><a href="/stories">Stories</a></li>
            <li><a href="/"><img src="/resources/images/site/csg-pro-logo.png"></a></li>         
            <li role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-expanded="false" aria-label="Community" data-is-click="false"><a>Community</a>
                <ul class="menu submenu is-dropdown-submenu first-sub vertical" data-submenu="" aria-hidden="true" role="menu">
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/events">Events</a></li>
                </ul>
            </li>
            <li role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-expanded="false" aria-label="About" data-is-click="false"><a>About Us</a>
                <ul class="menu submenu is-dropdown-submenu first-sub vertical" data-submenu="" aria-hidden="true" role="menu">
                    <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="/about">About CSG Pro</a></li>
                    <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="/contact">Contact Us</a></li>
                    <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item"><a href="/careers">Careers</a></li>
                </ul>
            </li>
            <li>
                <div class="social-links float-right">
                    <a href="https://twitter.com/csgpro"><img src="/resources/images/site/twitter_icon.svg" style="width: 20px; height: 20px; margin-right: 4px;"></a>
                    <a href="https://www.linkedin.com/company/csg-pro" title="LinkedIn"><img src="/resources/images/site/linkedin_icon.svg" style="width: 25px; height: 25px"></a>
                    <a href="https://www.yelp.com/biz/csg-pro-portland?adjust_creative=bing&amp;utm_campaign=yelp_feed&amp;utm_medium=feed_v2&amp;utm_source=bing" title="Yelp"><img src="/resources/images/site/Yelp.png" style="width: 25px; height: 25px"></a>
                    <a href="https://www.meetup.com/Portland-Power-BI-Meetup/" title="Meetup"><img src="/resources/images/site/Meetup.png" style="width: 25px; height: 25px"></a>
                    <a title="Mail" onClick="parent.location='mailto:contactus@csgpro.com'"><img src="/resources/images/site/mail-logo-icon.png" style="width: 25px; height: 25px"></a>
                    <br>
                    <a href="http://search.google.com/local/reviews?placeid=ChIJr7ZOzP4JlVQRElqMD4N-gG8" title="Google Reviews"><img src="/resources/images/site/Google.png" style="width: 35px; height: 25px"></a>
                    <a href="https://foursquare.com/v/csg-pro/5a6a671d59c4232ee7994045" title="Foursquare"><img src="/resources/images/site/Foursquare.jpg" style="width: 25px; height: 25px"></a>
                    <a href="https://www.facebook.com/CsgPro" title="Facebook"><img src="/resources/images/site/facebook-logo.png" style="width: 25px; height: 25px"></a>
                    <a href="https://www.pbiusergroup.com/portland" title="Portland Power BI User Group"><img src="/resources/images/site/Community.jpg" style="width: 40px; height: 20px"></a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="title-bar hide-for-medium">
    <div class="title-bar-left">
        <button class="fi-list" style="font-size: 24px;" type="button" data-open="offCanvas" aria-expanded="false" aria-controls="offCanvas"></button>
        <span class="title-bar-title">{{sitename}}</span>
    </div>
</div>