<div class="off-canvas position-left" id="offCanvas" data-off-canvas>

    <!-- Close button -->
    <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
    </button>

    <ul class="vertical menu">
        <li><a href="/">Home</a></li>
        <li><a href="/custom-software">Custom Software</a></li>
        <li><a href="/business-analytics">Business Analytics</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/stories">Stories</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/about">About CSG Pro</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/careers">Careers</a></li>
    </ul>

</div>