<div class="row">
	<div class="col-sm-9">
		<div class="form-group">
			<label class="control-label">Post Title</label>
			<input class="form-control" ng-model="postViewModel.post.Title" placeholder="Post Title Goes Here..." />
		</div>
		<tabset>
			<tab select="postViewModel.expand('Markdown')">
				<tab-heading>
					Edit
				</tab-heading>
				<div>
					<br />
					<div class="form-group tools pull-right">
						<button class="btn btn-default btn-xs" ng-click="postViewModel.openImageUploadModal()" tooltip="Upload Image"><span class="glyphicon glyphicon-picture"></span></button>
					</div>
					<div class="form-group">
						<textarea class="form-control noresize" rows="20" placeholder="Your story goes here. Make it a good one." ng-model="postViewModel.post.Markdown" ng-keyup="postViewModel.expand($event)" id="Markdown"></textarea>
					</div>
				</div>
			</tab>
			<tab>
				<tab-heading>
					Preview
				</tab-heading>
				<br />
				<div class="" marked="postViewModel.post.Markdown"></div>
			</tab>
		</tabset>
	</div>
	<div class="col-sm-3">

		<div class="sidebar">

			<div class="form-group">
				<label class="control-label">Category</label>
				<select class="form-control" ng-model="postViewModel.post.Category" ng-options="option as option for option in postViewModel.availableCategories">
					<option value="">--Select One--</option>
				</select>
			</div>

			<div class="form-group">
				<div>
					<label class="control-label">Topics</label>
					<div class="pull-right">
						<button class="btn btn-default btn-xs" ng-click="postViewModel.selectedTopics.push({})"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</div>
				<div class="form-group" ng-repeat="topic in postViewModel.selectedTopics">
					<select class="form-control" ng-model="topic.Name" ng-options="option.Name as option.Name for option in postViewModel.availableTopics">
						<option value="">--Select One--</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">Author</label>
				<select class="form-control" ng-model="postViewModel.post.AuthorUserId" ng-options="option.id as option.FullName for option in postViewModel.availableUsers">
					<option value="form-control">--Select One--</option>
				</select>
			</div>

			<div class="form-group">
				<label class="control-label">Excerpt</label>
				<textarea class="form-control noresize" rows="8" ng-model="postViewModel.post.Abstract" maxlength="400"></textarea>
				<div class="alert" ng-class="{'alert-danger':postViewModel.post.Abstract.length > 380}"><span ng-bind="postViewModel.post.Abstract.length"></span> of 400 character limit.</div>
			</div>

		</div><!-- .sidebar -->

	</div>
</div><!-- .row -->
