mixin footer(isDark)
  footer.scene-footer
    div.wrapper.grid.center-images
      div.grid__item.one-whole.full.mobile--center.spaced
        div.grid__item.desk--one-half.inline-block.space-top-xxs.mobile--center
          if isDark
            img(src='/img/ms_partner_goldappdev_logo_inner.svg',width='120px')
          else
            img(src='/img/ms_partner_goldappdev_logo.svg',width='120px')
        div.grid__item.desk--one-half.inline-block.mobile--center
          if isDark
            img.desk--fr(src='/img/Crafted_in_PDX_inner.svg',width='125px')
          else
            img.desk--fr(src='/img/Crafted_in_PDX.svg',width='125px')
          span.desk--fr.icon-vertical-bar
          img.desk--fr(src='/img/CSG21_round_footer.svg',width='60px')
