mixin contactForm(type)
  script.
    var RecaptchaOptions = {theme: 'white', lang: 'en'};
  form(role='form', action='/contact', method='POST', novalidate).panel-white
    div.grid__item.one-whole
      - if (type !== 'Windows 8') type = type.toLowerCase();
      h3.status-header Contact us about #{type}
    div.grid__item.six-twelfths
      label.lbl What's your name?
      input.input-grey.clearable(name='name', type='text', required="")
    div.grid__item.six-twelfths
      label.lbl What's your phone #?
      input.input-grey.clearable(name='phoneNumber', type='tel')
    div.grid__item.six-twelfths.space-bottom
      label.lbl What's your email address?
      input.input-grey.clearable(name='emailAddress', type='email', required="")
      input.winnie-the-pooh(name='cryptoTime', type='text', value='#{cryptoTime}')
      input.winnie-the-pooh(name='hpizzle', type='text')
    div.grid__item.one-whole
      label.lbl How can we help you?
      textarea.input-grey.clearable(name='comments', type='text', style='height: 177px;', required="")
      input.hide(name='type', type='text', value='#{type}')
    //- div.grid__item.one-whole.space-bottom
    //-   div!= recaptcha_form
    div.grid__item.one-half.right
      button.serif(type='submit').btn.btn-blue.ajaxSubmit submit

      
