mixin contactForm(type)
  form(role='form', action='/contact', method='POST').panel
    div.grid__item.one-whole
      h3 Contact us about #{type}
    div.grid__item.six-twelfths
      label.lbl What's your name?
      input.input-grey(name='name', type='text')
    div.grid__item.six-twelfths.space-bottom
      label.lbl How can we reach you?
      input.input-grey(name='contactInfo', type='text')
    div.grid__item.one-whole.space-bottom
      label.lbl How can we help you?
      textarea.input-grey(name='comments', type='text', style='height: 177px;')
    div.grid__item.one-whole.right
      button.serif(type='submit').btn.btn-blue.ajaxSubmit submit


