mixin contactForm(type)
  form(role='form', action='/contact', method='POST').panel-white
    div.grid__item.one-whole
      h3.modal-header Contact us about #{type.toLowerCase()}
    div.grid__item.six-twelfths
      label.lbl What's your name?
      input.input-grey(name='name', type='text')
    div.grid__item.six-twelfths.space-bottom
      label.lbl How can we reach you?
      input.input-grey(name='contactInfo', type='text')
    div.grid__item.one-whole.space-bottom
      label.lbl How can we help you?
      textarea.input-grey(name='comments', type='text', style='height: 177px;')
      input.hide(name='type', type='text', value='#{type}')
    div.grid__item.one-whole.right
      button.serif(type='submit').btn.btn-blue.ajaxSubmit submit


