div
  div.container
    div.grid__item.desk--one-half
      span.serif.grey.text-size-sm filter posts by:&nbsp;&nbsp;
      span: a.mobile--text-size-xs(href='/post/category/Blog') Blog
      span.grey &nbsp;|&nbsp;
      span: a.mobile--text-size-xs(href='/post/category/News') News 
      span.grey &nbsp;|&nbsp;
      span: a.mobile--text-size-xs(href='/jobs') Careers
    div.grid__item.desk--one-half.desk--right.mobile--space-top-xs
      a.mobile--text-size-xs(href='/post') view all posts&nbsp;
      span.hide-mobile &nbsp;
      span.grey |&nbsp;
      span.hide-mobile &nbsp;
      form.search(name='search', method='get', action='/post')
        input.italic.serif(name='q', type='search', placeholder='search posts')
