# Project-specific ignores
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

_project
node_modules
bower_components
pids
logs
results
config.json
.DS_Store
