backups

# Logs
logs
*.log*

.DS_Store
.idea
.vscode

node_modules
src/**/*.js*
!src/**/*.json
test/**/*.js*
bin/**/*.js*
public/scripts/*.bundle.js
lib

# exclude settings.json
settings.json
settings.*.json
!settings.sample.json