<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <system.webServer>
      <httpErrors existingResponse="PassThrough" />
      <staticContent>
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
         <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
         <mimeMap fileExtension=".ttf" mimeType="application/x-woff" />
      </staticContent>
      <handlers>
        <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
      </handlers>
      <rewrite>
        <rules>
            <rulte name="Redirect to WWW" stopProcessing="true">
                <match url="(.*)">
                <conditions> 
                    <add input="{HTTP_HOST}" pattern="^csgpro.com" />
                </conditions> 
                <action type="Redirect" url="https://www.{HTTP_HOST}/{REQUEST_URI}" redirectType="Permanent" />
            </rule>
            <rule name="Redirect to https" stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                    <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
            </rule>
            <rule name="DynamicContent">
                 <match url="/*" />
                 <action type="Rewrite" url="index.js"/>
            </rule>
       </rules>
      </rewrite>
    </system.webServer>
  </configuration>