extends layout-inner

block meta
  meta(name='description', content='CSG Pro, a professional services consulting company based in Portland, OR.')
  meta(property='og:title', content='CSG Pro Consulting')
  meta(property='og:image', content='http://csgpro.com/apple-touch-icon-precomposed.png')
  meta(property='og:url', content='http://csgpro.com')

block content

    div#nav-spacer
    div#updates-container
      section#updates.grid.wrapper
        div
          div.container
            div
              span.serif.grey.text-size-sm Presenting a limited time engagement opportunity:&nbsp;&nbsp;
              span.sans-serif.blue.text-size-sm Analytics &amp; Power BI Dashboard
