extends layout-inner

block meta
  meta(name='description', content='CSG Pro, a professional services consulting company based in Portland, OR.')
  meta(property='og:title', content='CSG Pro Consulting')
  meta(property='og:image', content='http://csgpro.com/apple-touch-icon-precomposed.png')
  meta(property='og:url', content='http://csgpro.com')

block content

    div#nav-spacer
    div#updates-container
      section#updates.grid.wrapper
        div.grid__item.one-whole
          div.container
            div
              span.serif.grey.text-size-sm Sharing information effectively.&nbsp;&nbsp;
              span.blue.text-size-sm CSG Pro can help you do it with SharePoint Online
    div.grid.wrapper
      br

      div.grid__item.desk--nine-twelfths.box.hero.clearfix
        div.cell-bg
          img(src='img/analytics/hero-sp.jpg')
        div.cell-content.inner-pad
          h3 SharePoint Online
          h4 Discover a new way to work together
          //h3 Predict your future:
          //h4 Productivity and Return with Analytics

      div.grid__item.desk--three-twelfths.no-pad
        div.box.gray.text-size-base.inner-pad
          a(href='#').pdf
            img(src='img/analytics/pdf.png')
          a(href='#') DOWNLOAD OFFERING PDF
          a(href='#') ANALYTICS BLOG POSTS
        div.box.dark-blue.no-pad.text-size-base
          div.cell-bg
            img(src='img/analytics/kuni-logo.jpg')
          div.cell-content.inner-pad.title
            a(href='#')
              h3 CSG Creates Collaborative SharePoint Online Site for Kuni
              span.link
                em.serif } Read the Case Study

      div.grid__item.one-whole
        p.serif.text-size-sm
          | SharePoint offers across-the-board features to help your company and your people share and store ideas and information&mdash;everything from streamlining common tasks to powering business intelligence to making it easy to keep track of what colleagues are doing.
        ul.text-size-sm.well-form
          li <strong>Share</strong> ideas, content, and vision through robust and intuitive social features, document libraries, activity feeds, and Microsoft SkyDrive Pro&mdash;a part of SharePoint.
          li <strong>Organize</strong> teams and tasks with simplified systems for tracking information, setting permissions, and sharing sites and documents inside and outside your organization.
          li <strong>Discover</strong> answers and insights by taking better advantage of the data and expertise you already have.
          li <strong>Build</strong> the portals, apps, and sites your business needs&mdash;without requiring customized development&mdash;with the new SharePoint app model and simplified intranet design.
          li <strong>Manage</strong> costs and meet the demands of compliance with SharePoint's efficient file input/output, reporting, and analytics features.
      div.grid__item.desk--three-twelfths.solid.solid--one
        div.label
          p.text-size-sm The Event:
      div.grid__item.desk--nine-twelfths.solid.solid--two
        div.details
          p.text-size-sm
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          p.text-size-sm
            b WHERE:&nbsp;
            | Moremsdfsd
          p.text-size-sm
            b WHEN:&nbsp;
            | SDFDSF
          p
            a(href="#").cta.serif } Register Now for the free event

      div.grid__item.desk--three-twelfths.solid.solid--three
        div.label
          p.text-size-sm The Offering:
      div.grid__item.desk--nine-twelfths.solid.solid--four
        div.details
          p.text-size-sm
            | CSG will lead a structured, multi-day proof-of-concept engagement
            | with defined processes and deliverables, yet flexible enough to
            | align with the client's culture. The analytics dashboard POC is
            | customized for individual clients on specific requirements.
          p.text-size-sm
            b SCOPE:&nbsp;
            br
            | - 90-Minute, On-Site Stakeholder Conversation
            br
            | - Two-Week Dashboard Proof-of-Concept Engagement: Includes 4 hours of requirements, 4 hours of client meetings, development of dashboard POC and delivery
          p.text-size-sm
            b DELIVERABLES:&nbsp;
            | A secure, online data dashboard presenting up to three interactive visualizations of your own data, updated in near real-time.
      div.grid__item.one-whole
        p.hr-top.hr-bottom
          | CSG is a professional services provider based in Portland, Oregon and has been offering analytics and BI, web & mobile
          | development, SharePoint development and branding and Windows application development since 1993. We are proud to
          | have beeen a certified Microsoft partner since 1995. Find out what we can do to help your business.
