extends layout

block content
  section#hero
    div.grid.center(style='max-width: 900px; margin: 0 auto 0 auto')
      div.grid__item.one-whole.right
        div#headline We've been told we have our head
        div#subline in the clouds, and that's not a bad thing.
      div.grid__item.one-whole.right
        span#tagline learn how cloud services can make your business soar
        span }
      div#blocks.grid__item.one-whole.left
        div.grid__item.three-twelfths.right
          p Our real-time analytics<br>engine makes managing<br>your critical data easy.
          p: a(href='#') put it to work for you }
        div.grid__item.one-twelfth
          img(src='/img/line.svg')
        div.grid__item.right.three-twelfths
          p CSG's mobile dev & MS Azure<br>hosting boost awareness about<br>Oregon's container redemption.
          p: a(href='#') read the case study }
        div.grid__item.one-twelfth
          img(src='/img/line.svg')
        div.grid__item.right.three-twelfths
          p CSG is turning 20 and we're<br>having an open-house at our<br>Pearl district offices XX/XX
          p: a(href='#') get all the details }

  nav
    div.wrapper
      a(href='#')
        img#logo.big-logo(src='/img/logo.svg')
      ul
        li(data-nav='work') work
        li /
        li(data-nav='services') services
        li /
        li(data-nav='about') about
        li /
        li(data-nav='updates') updates
        li /
        li(data-nav='contact') contact
  div#nav-spacer.hidden.hide-mobile

  div#main

    // WORK
    section#work.grid.wrapper
      aside.grid__item.desk--one-third
        h2 Case study: Web & Mobile
        h1 Increase Awareness
        p.subtitle OBRC - know your nickel
        p Bacon ipsum dolor sit amet tenderloin tail strip steak sausage boudin biltong, salami beef sirloin shankle turducken pig jowl andouille spare ribs. Tri-tip bacon bresaola biltong turkey. Shoulder short loin tail pork, beef ribs rump turducken doner pig hamburger. Chicken venison salami chuck ball tip prosciutto spare ribs flank. T-bone rump venison pastrami boudin.
      article.grid__item.desk--two-thirds

    // SERVICES
    div.spacer
    section#services.grid.wrapper
      aside.grid__item.desk--two-twelfths
        div.space-top WHAT WE DO:
        ul
          li
            img(src='/img/web_icon.svg')
            span web
            hr
          li
            img(src='/img/appdev_icon.svg')
            span apps
            hr
          li
            img(src='/img/cloud_icon.svg')
            span cloud
            hr
          li
            img(src='/img/analytics_icon.svg')
            span analytics
            hr
          li
            img(src='/img/portals_icon.svg')
            span portals
            hr
      article.grid__item.desk--ten-twelfths
        p.space-top Content

    // ABOUT
    div.spacer
    section#about.grid.wrapper
      div.grid__item.four-twelfths
        aside.grid__item.push--one-twelfth.eleven-twelfths
            p(style='min-height: 430px') Content
      article.grid__item.eight-twelfths
        p Content

    // UPDATES
    div.spacer
    section#updates.grid.wrapper
      div
        div.grid__item.four-twelfths
          div.circle
          article.grid__item.eleven-twelfths
            p content
        div.grid__item.four-twelfths
          div.circle
          article.grid__item.eleven-twelfths
            p content
        div.grid__item.four-twelfths
          div.circle
          article.grid__item.eleven-twelfths
            p content

    // CONTACT
    div.spacer
    section#contact.grid.wrapper(style='min-height: 900px;')
      article.grid__item.one-whole
        p Content
