extends layout

block content
  section#hero
    div.grid.center(style='max-width: 900px; margin: 0 auto 0 auto')
      div.grid__item.one-whole.right
        div#headline We've been told we have our head
        div#subline in the clouds, and that's not a bad thing.
      div.grid__item.one-whole.right
        span#tagline learn how cloud services can make your business soar
        span }
      div#blocks.grid__item.one-whole.left.hide-mobile
        div.grid__item.three-twelfths.right
          p Our real-time analytics<br>engine makes managing<br>your critical data easy.
          p: a(href='#') put it to work for you }
        div.grid__item.one-twelfth
          img(src='/img/line.svg')
        div.grid__item.right.three-twelfths
          p CSG's mobile dev & MS Azure<br>hosting boost awareness about<br>Oregon's container redemption.
          p: a(href='#') read the case study }
        div.grid__item.one-twelfth
          img(src='/img/line.svg')
        div.grid__item.right.three-twelfths
          p CSG is turning 20 and we're<br>having an open-house at our<br>Pearl district offices XX/XX
          p: a(href='#') get all the details }

  nav
    div.wrapper
      a(href='#')
        img#logo.big-logo(src='/img/logo.svg')
      ul
        li(data-nav='work') work
        li /
        li(data-nav='services') services
        li /
        li(data-nav='about') about
        li /
        li(data-nav='updates') updates
        li /
        li(data-nav='contact') contact
  div#nav-spacer.hidden.hide-mobile

  div#main

    /////////////////////////////////
    // WORK
    /////////////////////////////////
    section#work.grid.wrapper
      div.swipeshow
        ul.slides
          li.slide
            aside.grid__item.desk--one-third
              div.space-top
                span.caps-title Case Study:
                span  Web & Mobile
              h1 Increase Awareness
              p.subtitle OBRC - know your nickel
              p Bacon ipsum dolor sit amet tenderloin tail strip steak sausage boudin biltong, salami beef sirloin shankle turducken pig jowl andouille spare ribs. Tri-tip bacon bresaola biltong turkey. Shoulder short loin tail pork, beef ribs rump turducken doner pig hamburger. Chicken venison salami chuck ball tip prosciutto spare ribs flank. T-bone rump venison pastrami boudin.
            article.grid__item.desk--two-thirds
                  img(src='https://csgsitestorage.blob.core.windows.net/img/casestudy_img_01.jpg')
                  //- li.slide: img(src='http://placekitten.com/650/504')
                  //- li.slide: img(src='http://placekitten.com/650/504')
          li.slide
            aside.grid__item.desk--one-third
              div.space-top
                span.caps-title Case Study:
                span  Web & Mobile
              h1 Increase Kittens
              p.subtitle OBRC - know your nickel
              p Bacon ipsum dolor sit amet tenderloin tail strip steak sausage boudin biltong, salami beef sirloin shankle turducken pig jowl andouille spare ribs. Tri-tip bacon bresaola biltong turkey. Shoulder short loin tail pork, beef ribs rump turducken doner pig hamburger. Chicken venison salami chuck ball tip prosciutto spare ribs flank. T-bone rump venison pastrami boudin.
            article.grid__item.desk--two-thirds
                  img(src='http://placekitten.com/650/504')

    /////////////////////////////////
    // SERVICES
    /////////////////////////////////
    div.spacer
    section#services.grid.wrapper
      aside.grid__item.desk--two-twelfths
        div.space-top WHAT WE DO:
        ul.swapper
          li(data-service='web')
            | <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 90 90" enable-background="new 0 0 90 90" xml:space="preserve"> <g> <path fill="none" d="M68.871 24.058h-51c-0.552 0-1 0.448-1 1V52.5c0 0.552 0.448 1 1 1h51c0.552 0 1-0.448 1-1V25.058C69.871 24.505 69.423 24.058 68.871 24.058zM67.867 50.58c0 0.531-0.439 0.962-0.981 0.962h-46.83c-0.542 0-0.981-0.431-0.981-0.962V26.712c0-0.531 0.439-0.962 0.981-0.962h46.83c0.542 0 0.981 0.431 0.981 0.962V50.58z"></path> <path fill="#003C56" d="M66.786 25.75h-46.83c-0.542 0-0.981 0.431-0.981 0.962V50.58c0 0.531 0.439 0.962 0.981 0.962h46.83c0.542 0 0.981-0.431 0.981-0.962V26.712C67.766 26.181 67.327 25.75 66.786 25.75z"></path> <path fill="#003C56" d="M69.871 21.058h-53c-0.552 0-3 2.448-3 3V53.5c0 0.552 2.448 3 3 3h23.167v7.345h-7.691c-0.552 0-1 0.448-1 1v1.093c0 0.552 0.448 1 1 1h22.049c0.552 0 1-0.448 1-1v-1.093c0-0.552-0.448-1-1-1h-7.691V56.5h23.167c0.552 0 3-2.448 3-3V24.058C72.871 23.505 70.423 21.058 69.871 21.058zM69.871 52.5c0 0.552-0.448 1-1 1h-51c-0.552 0-1-0.448-1-1V25.058c0-0.552 0.448-1 1-1h51c0.552 0 1 0.448 1 1V52.5z"></path> </g> </svg>
            span web
            hr
          li(data-service='apps')
            | <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 90 90" enable-background="new 0 0 90 90" xml:space="preserve"><g><g><path fill-rule="evenodd" clip-rule="evenodd" fill="#003C56" d="M39.829 30.247c-0.057-0.056 0.052-0.568 0.06-0.661 0.144-1.655 0.219-3.195-0.204-4.817 -0.223-0.856-0.478-1.711-0.77-2.546 -0.249-0.712-0.565-1.421-0.939-2.076 -1.352-2.366-3.594-4.096-6.118-5.058 -2.292-0.873-5.984-1.255-8.671-0.616l-2.084 0.635c1.173 1.232 3.284 3.357 3.284 3.357l4.131 4.06c0 0 1.394 1.69 1.228 2.691 -0.156 0.942-0.486 1.832-1.013 2.63 -0.928 1.404-2.444 2.953-4.035 3.58 -0.506 0.199-1.063 0.194-1.597 0.143 -0.319-0.031-1.139-0.006-1.378-0.246 -2.808-2.808-5.617-5.617-8.425-8.425 -3.317 9.062 4.749 21.303 14.7 18.464 9.739 9.799 19.481 19.601 29.22 29.399 3.181 2.507 8.667 2.834 11.652-0.179 2.635-2.66 2.659-8.112 0.359-11.114C59.43 49.728 49.628 39.986 39.829 30.247zM64.21 69.147c-5.504 1.439-7.469-6.215-1.793-8.097C68.153 60.572 68.89 67.923 64.21 69.147zM68.263 15.276c-0.832-0.536-1.741-0.906-2.709-1.116 -0.842-0.182-1.712-0.189-2.558-0.041 -1.245 0.217-2.437 0.766-3.401 1.579 -1.349 1.137-2.487 2.525-3.72 3.782 -1.262 1.285-2.564 2.531-3.826 3.817 -0.623 0.635-7.556 7.669-7.558 7.667 0.777 0.777 1.554 1.554 2.33 2.33 -0.005-0.005 3.369-3.403 3.676-3.714 2.2-2.23 4.395-4.466 6.601-6.691 1.096-1.106 2.171-2.241 3.299-3.315 0.693-0.66 1.279-1.568 2.102-2.072 0.608-0.372 1.438-0.005 1.446 0.757 0.007 0.642-0.541 1.096-0.997 1.461 -0.59 0.471-1.082 0.997-1.607 1.54 -2.156 2.229-4.42 4.367-6.624 6.549 -2.211 2.189-4.428 4.373-6.641 6.56 0.836 0.896 1.673 1.793 2.51 2.689 -0.019-0.02 3.373-3.371 3.681-3.681 2.196-2.21 4.425-4.387 6.612-6.606 1.095-1.111 2.183-2.234 3.301-3.321 0.671-0.652 1.284-1.424 2.003-2.018 0.514-0.425 1.129-0.413 1.433 0.252 0.452 0.987-0.723 1.757-1.326 2.359 -0.594 0.594-1.188 1.187-1.781 1.781 -2.112 2.112-4.224 4.224-6.336 6.336 -2.111 2.111-4.221 4.221-6.332 6.332 0.777 0.717 1.554 1.434 2.33 2.151 0.015 0.013 3.85-3.933 4.196-4.285 2.512-2.554 5.043-5.095 7.517-7.685 1.232-1.29 2.532-2.514 3.764-3.804 1.029-1.078 1.571-2.202 1.732-3.684C71.639 18.786 70.232 16.544 68.263 15.276zM23.516 58.391c-1.434 0.299-2.868 0.598-4.302 0.896 -2.33 3.645-4.661 7.291-6.991 10.935 0.896 0.896 1.793 1.793 2.689 2.689 3.645-2.33 7.291-4.661 10.935-6.991 0.299-1.434 0.598-2.868 0.896-4.302 2.987-2.987 5.976-5.976 8.963-8.963 -1.135-1.075-2.271-2.151-3.406-3.227C29.373 52.415 26.444 55.404 23.516 58.391z"></path></g></g></svg>
            span apps
            hr
          li(data-service='cloud')
            | <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px" width="90px" height="72px" viewBox="0 0 90 72" enable-background="new 0 0 90 72" xml:space="preserve"><path fill="#003C56" d="M77.911 39.232c0-5.147-4.173-9.32-9.32-9.32 -0.194 0-0.375 0.045-0.566 0.057 0.13-0.745 0.228-1.503 0.228-2.286 0-7.236-5.805-13.102-12.967-13.102 -2.951 0-5.64 1.035-7.82 2.713 -2.184-4.624-6.853-7.845-12.306-7.845 -7.534 0-13.642 6.108-13.642 13.642 0 1.071 0.153 2.1 0.386 3.099 -0.633-0.11-1.275-0.195-1.939-0.195 -6.229 0-11.278 5.049-11.278 11.278 0 5.865 4.493 10.628 10.216 11.171 0.065 0.004 0.121 0.038 0.187 0.038h0.188c0.232 0.014 0.452 0.069 0.687 0.069s0.455-0.055 0.687-0.069h47.251c0.231 0.017 0.452 0.069 0.687 0.069 0.235 0 0.456-0.052 0.687-0.069h0.12c0.043 0 0.078-0.023 0.12-0.024C74.223 47.986 77.911 44.061 77.911 39.232z"></path></svg>
            span cloud
            hr
          li(data-service='analytics')
            | <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px" width="90px" height="72px" viewBox="0 0 90 72" enable-background="new 0 0 90 72" xml:space="preserve"><polygon fill="#003C56" points="63.005,51.059 63.005,22.454 51.652,22.454 51.652,51.059 48.613,51.059 48.613,33.896   37.26,33.896 37.26,51.059 34.399,51.059 34.399,39.528 23.046,39.528 23.046,51.059 20.007,51.059 20.007,16.733 14.465,16.733   14.465,51.059 14.465,56.602 20.007,56.602 65.865,56.602 65.865,51.059 "></polygon></svg>
            span analytics
            hr
          li(data-service='portals')
            | <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px" width="90px" height="72px" viewBox="0 0 90 72" enable-background="new 0 0 90 72" xml:space="preserve"><path fill="#003C56" d="M67.813 12.465h-48.98c-1.942 0-4.516 2.416-4.516 4.162v29.622c0 1.746 2.574 4.162 4.516 4.162h12.891v14.032l12.501-14.032h23.587c1.942 0 4.516-2.416 4.516-4.162V16.627C72.328 14.88 69.754 12.465 67.813 12.465zM26.397 37.564c-3.66 0-6.628-2.743-6.628-6.127 0-3.384 2.968-6.127 6.628-6.127 3.66 0 6.628 2.743 6.628 6.127C33.025 34.821 30.057 37.564 26.397 37.564zM43.323 37.564c-3.66 0-6.628-2.743-6.628-6.127 0-3.384 2.967-6.127 6.628-6.127s6.628 2.743 6.628 6.127C49.951 34.821 46.983 37.564 43.323 37.564zM60.249 37.564c-3.66 0-6.628-2.743-6.628-6.127 0-3.384 2.967-6.127 6.628-6.127 3.66 0 6.628 2.743 6.628 6.127C66.876 34.821 63.909 37.564 60.249 37.564z"></path></svg>
            span portals
            hr
      article.grid__item.desk--ten-twelfths
        div.swappable.space-top.grid__item.one-whole
          section(data-service='web')
            div.grid__item.one-whole
              span.title Web Development for Desktop and Mobile
              div.fr
                | <svg width="60" height="50" xmlns="http://www.w3.org/2000/svg"> <g> <title>Layer 1</title> <g id="svg_1"> <path id="svg_2" d="m55.371,3.558l-51,0c-0.552,0 -1,0.448 -1,1l0,27.442c0,0.552 0.448,1 1,1l51,0c0.55199,0 1,-0.448 1,-1l0,-27.442c0,-0.553 -0.44801,-1 -1,-1zm-1.00401,26.522c0,0.531 -0.439,0.962 -0.981,0.962l-46.83001,0c-0.542,0 -0.981,-0.431 -0.981,-0.962l0,-23.868c0,-0.531 0.439,-0.962 0.981,-0.962l46.83001,0c0.542,0 0.981,0.431 0.981,0.962l0,23.868z" fill="none"/> <path id="svg_3" d="m53.286,5.25l-46.83,0c-0.542,0 -0.981,0.431 -0.981,0.962l0,23.868c0,0.531 0.439,0.962 0.981,0.962l46.83,0c0.542,0 0.981,-0.431 0.981,-0.962l0,-23.868c-0.001,-0.531 -0.43999,-0.962 -0.981,-0.962z" fill="#003C56"/> <path id="svg_4" d="m56.371,0.558l-53,0c-0.552,0 -3,2.448 -3,3l0,29.442c0,0.552 2.448,3 3,3l23.167,0l0,7.345l-7.691,0c-0.552,0 -1,0.448 -1,1l0,1.093c0,0.55199 0.448,1 1,1l22.049,0c0.552,0 1,-0.44801 1,-1l0,-1.093c0,-0.552 -0.448,-1 -1,-1l-7.691,0l0,-7.345l23.167,0c0.552,0 3,-2.448 3,-3l0,-29.442c-0.001,-0.553 -2.44901,-3 -3.001,-3zm0,31.442c0,0.552 -0.44801,1 -1,1l-51,0c-0.552,0 -1,-0.448 -1,-1l0,-27.442c0,-0.552 0.448,-1 1,-1l51,0c0.55199,0 1,0.448 1,1l0,27.442z" fill="#003C56"/> </g> </g> </svg>
              hr
            div.grid__item--full.one-whole
              div.grid__item.one-half               
                p Bunch of shtuffBBBBBBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuff
              div.grid__item.one-half               
                p Bunch of shtuffBBBBBBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuff
          section.gone(data-service='apps')
            div.grid__item.one-whole
              span.title Application Development
              div.fr
                | <svg width="60" height="50" xmlns="http://www.w3.org/2000/svg"> <g> <title>Layer 1</title> <g id="svg_1"> <path id="svg_2" d="m55.371,3.558l-51,0c-0.552,0 -1,0.448 -1,1l0,27.442c0,0.552 0.448,1 1,1l51,0c0.55199,0 1,-0.448 1,-1l0,-27.442c0,-0.553 -0.44801,-1 -1,-1zm-1.00401,26.522c0,0.531 -0.439,0.962 -0.981,0.962l-46.83001,0c-0.542,0 -0.981,-0.431 -0.981,-0.962l0,-23.868c0,-0.531 0.439,-0.962 0.981,-0.962l46.83001,0c0.542,0 0.981,0.431 0.981,0.962l0,23.868z" fill="none"/> <path id="svg_3" d="m53.286,5.25l-46.83,0c-0.542,0 -0.981,0.431 -0.981,0.962l0,23.868c0,0.531 0.439,0.962 0.981,0.962l46.83,0c0.542,0 0.981,-0.431 0.981,-0.962l0,-23.868c-0.001,-0.531 -0.43999,-0.962 -0.981,-0.962z" fill="#003C56"/> <path id="svg_4" d="m56.371,0.558l-53,0c-0.552,0 -3,2.448 -3,3l0,29.442c0,0.552 2.448,3 3,3l23.167,0l0,7.345l-7.691,0c-0.552,0 -1,0.448 -1,1l0,1.093c0,0.55199 0.448,1 1,1l22.049,0c0.552,0 1,-0.44801 1,-1l0,-1.093c0,-0.552 -0.448,-1 -1,-1l-7.691,0l0,-7.345l23.167,0c0.552,0 3,-2.448 3,-3l0,-29.442c-0.001,-0.553 -2.44901,-3 -3.001,-3zm0,31.442c0,0.552 -0.44801,1 -1,1l-51,0c-0.552,0 -1,-0.448 -1,-1l0,-27.442c0,-0.552 0.448,-1 1,-1l51,0c0.55199,0 1,0.448 1,1l0,27.442z" fill="#003C56"/> </g> </g> </svg>
              hr
            div.grid__item--full.one-whole
              div.grid__item.one-half               
                p Bunch of shtuffBBBBBBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuff
              div.grid__item.one-half               
                p Bunch of shtuffBBBBBBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuff
          section.gone(data-service='cloud')
            div.grid__item.one-whole
              span.title Cloud Services
              div.fr
                | <svg width="60" height="50" xmlns="http://www.w3.org/2000/svg"> <g> <title>Layer 1</title> <g id="svg_1"> <path id="svg_2" d="m55.371,3.558l-51,0c-0.552,0 -1,0.448 -1,1l0,27.442c0,0.552 0.448,1 1,1l51,0c0.55199,0 1,-0.448 1,-1l0,-27.442c0,-0.553 -0.44801,-1 -1,-1zm-1.00401,26.522c0,0.531 -0.439,0.962 -0.981,0.962l-46.83001,0c-0.542,0 -0.981,-0.431 -0.981,-0.962l0,-23.868c0,-0.531 0.439,-0.962 0.981,-0.962l46.83001,0c0.542,0 0.981,0.431 0.981,0.962l0,23.868z" fill="none"/> <path id="svg_3" d="m53.286,5.25l-46.83,0c-0.542,0 -0.981,0.431 -0.981,0.962l0,23.868c0,0.531 0.439,0.962 0.981,0.962l46.83,0c0.542,0 0.981,-0.431 0.981,-0.962l0,-23.868c-0.001,-0.531 -0.43999,-0.962 -0.981,-0.962z" fill="#003C56"/> <path id="svg_4" d="m56.371,0.558l-53,0c-0.552,0 -3,2.448 -3,3l0,29.442c0,0.552 2.448,3 3,3l23.167,0l0,7.345l-7.691,0c-0.552,0 -1,0.448 -1,1l0,1.093c0,0.55199 0.448,1 1,1l22.049,0c0.552,0 1,-0.44801 1,-1l0,-1.093c0,-0.552 -0.448,-1 -1,-1l-7.691,0l0,-7.345l23.167,0c0.552,0 3,-2.448 3,-3l0,-29.442c-0.001,-0.553 -2.44901,-3 -3.001,-3zm0,31.442c0,0.552 -0.44801,1 -1,1l-51,0c-0.552,0 -1,-0.448 -1,-1l0,-27.442c0,-0.552 0.448,-1 1,-1l51,0c0.55199,0 1,0.448 1,1l0,27.442z" fill="#003C56"/> </g> </g> </svg>
              hr
            div.grid__item--full.one-whole
              div.grid__item.one-half               
                p Bunch of shtuffBBBBBBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuff
              div.grid__item.one-half               
                p Bunch of shtuffBBBBBBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuff
          section.gone(data-service='analytics')
            div.grid__item.one-whole
              span.title Analytics
              div.fr
                | <svg width="60" height="50" xmlns="http://www.w3.org/2000/svg"> <g> <title>Layer 1</title> <g id="svg_1"> <path id="svg_2" d="m55.371,3.558l-51,0c-0.552,0 -1,0.448 -1,1l0,27.442c0,0.552 0.448,1 1,1l51,0c0.55199,0 1,-0.448 1,-1l0,-27.442c0,-0.553 -0.44801,-1 -1,-1zm-1.00401,26.522c0,0.531 -0.439,0.962 -0.981,0.962l-46.83001,0c-0.542,0 -0.981,-0.431 -0.981,-0.962l0,-23.868c0,-0.531 0.439,-0.962 0.981,-0.962l46.83001,0c0.542,0 0.981,0.431 0.981,0.962l0,23.868z" fill="none"/> <path id="svg_3" d="m53.286,5.25l-46.83,0c-0.542,0 -0.981,0.431 -0.981,0.962l0,23.868c0,0.531 0.439,0.962 0.981,0.962l46.83,0c0.542,0 0.981,-0.431 0.981,-0.962l0,-23.868c-0.001,-0.531 -0.43999,-0.962 -0.981,-0.962z" fill="#003C56"/> <path id="svg_4" d="m56.371,0.558l-53,0c-0.552,0 -3,2.448 -3,3l0,29.442c0,0.552 2.448,3 3,3l23.167,0l0,7.345l-7.691,0c-0.552,0 -1,0.448 -1,1l0,1.093c0,0.55199 0.448,1 1,1l22.049,0c0.552,0 1,-0.44801 1,-1l0,-1.093c0,-0.552 -0.448,-1 -1,-1l-7.691,0l0,-7.345l23.167,0c0.552,0 3,-2.448 3,-3l0,-29.442c-0.001,-0.553 -2.44901,-3 -3.001,-3zm0,31.442c0,0.552 -0.44801,1 -1,1l-51,0c-0.552,0 -1,-0.448 -1,-1l0,-27.442c0,-0.552 0.448,-1 1,-1l51,0c0.55199,0 1,0.448 1,1l0,27.442z" fill="#003C56"/> </g> </g> </svg>
              hr
            div.grid__item--full.one-whole
              div.grid__item.one-half               
                p Bunch of shtuffBBBBBBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuff
              div.grid__item.one-half               
                p Bunch of shtuffBBBBBBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuff
          section.gone(data-service='portals')
            div.grid__item.one-whole
              span.title Portals
              div.fr
                | <svg width="60" height="50" xmlns="http://www.w3.org/2000/svg"> <g> <title>Layer 1</title> <g id="svg_1"> <path id="svg_2" d="m55.371,3.558l-51,0c-0.552,0 -1,0.448 -1,1l0,27.442c0,0.552 0.448,1 1,1l51,0c0.55199,0 1,-0.448 1,-1l0,-27.442c0,-0.553 -0.44801,-1 -1,-1zm-1.00401,26.522c0,0.531 -0.439,0.962 -0.981,0.962l-46.83001,0c-0.542,0 -0.981,-0.431 -0.981,-0.962l0,-23.868c0,-0.531 0.439,-0.962 0.981,-0.962l46.83001,0c0.542,0 0.981,0.431 0.981,0.962l0,23.868z" fill="none"/> <path id="svg_3" d="m53.286,5.25l-46.83,0c-0.542,0 -0.981,0.431 -0.981,0.962l0,23.868c0,0.531 0.439,0.962 0.981,0.962l46.83,0c0.542,0 0.981,-0.431 0.981,-0.962l0,-23.868c-0.001,-0.531 -0.43999,-0.962 -0.981,-0.962z" fill="#003C56"/> <path id="svg_4" d="m56.371,0.558l-53,0c-0.552,0 -3,2.448 -3,3l0,29.442c0,0.552 2.448,3 3,3l23.167,0l0,7.345l-7.691,0c-0.552,0 -1,0.448 -1,1l0,1.093c0,0.55199 0.448,1 1,1l22.049,0c0.552,0 1,-0.44801 1,-1l0,-1.093c0,-0.552 -0.448,-1 -1,-1l-7.691,0l0,-7.345l23.167,0c0.552,0 3,-2.448 3,-3l0,-29.442c-0.001,-0.553 -2.44901,-3 -3.001,-3zm0,31.442c0,0.552 -0.44801,1 -1,1l-51,0c-0.552,0 -1,-0.448 -1,-1l0,-27.442c0,-0.552 0.448,-1 1,-1l51,0c0.55199,0 1,0.448 1,1l0,27.442z" fill="#003C56"/> </g> </g> </svg>
              hr
            div.grid__item--full.one-whole
              div.grid__item.one-half               
                p Bunch of shtuffBBBBBBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuff
              div.grid__item.one-half               
                p Bunch of shtuffBBBBBBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffBunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuffunch of shtuff

    /////////////////////////////////
    // ABOUT
    /////////////////////////////////
    div.spacer
    section#about.grid.wrapper
      div.grid__item.four-twelfths
        aside.grid__item--full.push--one-twelfth.eleven-twelfths(style='min-height: 430px')
            div.grid__item--full.one-whole.center
              img.space-top(src='img/CSG20_icon.svg')
            div.grid__item.one-whole
              p Lorem ipsum CSG, dolorem cubicle sufriges my nizzle. Lorem ipsum CSG, dolorem cubicle sufriges my nizzle. Lorem ipsum CSG, dolorem cubicle sufriges my nizzle. Lorem ipsum CSG, dolorem cubicle sufriges my nizzle. Lorem ipsum CSG, dolorem cubicle sufriges my nizzle. Lorem ipsum CSG, dolorem cubicle sufriges my nizzle. Lorem ipsum CSG, dolorem cubicle sufriges my nizzle.
      article.grid__item.eight-twelfths
        p Content

    /////////////////////////////////
    // UPDATES
    /////////////////////////////////
    div.spacer
    section#updates.grid.wrapper
      div
        div.grid__item.one-whole.desk--four-twelfths
          div.circle
          article.grid__item.eleven-twelfths
            p content
        div.grid__item.one-whole.desk--four-twelfths
          div.circle
          article.grid__item.eleven-twelfths
            p content
        div.grid__item.one-whole.desk--four-twelfths
          div.circle
          article.grid__item.eleven-twelfths
            p content

    /////////////////////////////////
    // CONTACT
    /////////////////////////////////
    div.spacer
    section#contact.grid.wrapper(style='min-height: 900px;')
      article.grid__item.one-whole
        p Content
