extends layout-inner

block content
  div#nav-spacer
  div#updates-container
    section#updates.grid.wrapper
      include partials/updates-header
  div#main.blog-content.grid.wrapper
    if (!post)
      div.grid__item.one-whole
        div.alert.alert-danger Post not found.
    else
      div.grid__item.one-whole
        if (!post.PublishDate)
          div.alert.alert-info.row
            div.grid__item.one-half.full
              span This post is <b>unpublished.</b>
            div.grid__item.one-half.right
              a.btn.btn-blue(href="/admin/post/#{post.id}/publish") Publish

        div.grid__item.desk--nine-twelfths
          h1= post.Title
          p!= marked(post.Markdown)
        div.grid__item.desk--three-twelfths.space-top
          small Related Topics:
          div.panel
            p Is this working?

