extends layout-inner

block meta
  meta(name='description', content='CSG Pro, a professional services consulting company based in Portland, OR.')
  meta(property='og:title', content='CSG Pro Consulting')
  meta(property='og:image', content='http://csgpro.com/apple-touch-icon-precomposed.png')
  meta(property='og:url', content='http://csgpro.com')

block content

    div#nav-spacer
    div#updates-container
      section#updates.grid.wrapper
        div.grid__item.one-whole
          div.container
            div
              span.serif.grey.text-size-sm Fast Forward to Collaboration:&nbsp;&nbsp;
              span.blue.text-size-sm 44 Minutes to SharePoint Webcast Registration
    div.grid.wrapper
      br

      div.grid__item.one-whole
        p.text-small.italic Please complete the form below to register for the SharePoint webcast.

      include partials/register-form
