@import 'nib' // nib does several things including vendor prefixes

/**
 * Nib provides a CSS reset
 */
// global-reset()

/***************************************
 * Variables
 ***************************************/
background-color = #353535
main-blue = #09A4E6
text-blue = #48ABD5
wrapper-max-width = 1060px
mobile = "all and (max-width: 48em)"
desk = "all and (min-width: 48em)"
border-radii = 4px

#hero
  background-position center
  background-repeat no-repeat
  @media desk
    background-image url('/img/hero-background-large.jpg')
    min-height 31em //TODO: should use javascript to resize
  @media mobile
    background-image url('/img/hero-background-large.jpg')
    min-height 10em //TODO: should use javascript to resize

#nav-spacer // TODO: fix
  height: 100px

body // TODO: fix fonts
  background-color background-color
  font-family 'Century Gothic'

img
  transition-timing-function ease
  transition-duration 0.5s

.spacer
  height 90px
  background-color #fff
  width 100%

/***************************************
 * Sections
 ***************************************/
// DEBUG
#main > section
  min-height 700px

#hero
  color #fff

#work
  background-color main-blue
  color #fff

#services
  background-color #00517E
  aside
    color #00A3E4
    ul
      margin 0
      padding 0
      list-style-type none
      li
        padding 15px 0 15px 0
  article
    height 100%
    background-color #E6E6E6
    color #043C57

#about
  padding-top 25px
  background-color #545454
  aside
    background-color #333333
    border-radius border-radii
    // margin 15px 0 0 50px
    // padding 24px

#updates
  padding: 100px 30px 0 40px;
  background-color #F3F3F3
  > div
    position relative
  .circle
    background-image url('http://placekitten.com/80/80')
    position absolute
    top -40px
    left -15px
    width 80px
    height 80px
    background-color #9B9B9B
    border-radius 40px
    box-shadow 0 0 5px 0
  article
    color #fff
    padding-top 40px
    border-radius border-radii
    background-color main-blue


#contact
  background-color #F8F8F8

/***************************************
 * Helpers
 ***************************************/
.hidden
  display none

@media mobile
  .hide-mobile
    display none

@media desk
  .hide-desk
    display none

.right
  text-align right

/***************************************
 * Navigation
 ***************************************/
.wrapper
  margin 0 auto 0 auto
  max-width wrapper-max-width

.selected
  font-size 1.5em
  color #fff

.fixed-menu
  z-index 1
  position fixed
  top 0
  left 0
  width 100%
  img
    width 60px
    height 60px
    margin 15px 0 0 20px

nav
  color text-blue
  position relative
  @media mobile
    display none
  @media desk
    background-image: linear-gradient(bottom, rgb(44,44,44) 20%, rgb(29,29,29) 78%)
    border-bottom 3px solid white
    border-top 3px solid white
    box-shadow 0 5px 15px #000
    height 92px
    img
      margin -65px 0 0 0
      height 160px
      width 160px
    ul
      float right
      margin 35px 0 0 0
      li
        cursor pointer
        display inline
      li:after
        content "/"
        padding 0 14px 0 14px
      li:last-child:after
        content none


