h1,h2,h3,h4,h5,h6{font-family:'Century Gothic','CenturyGothic',Helvetica,sans-serif;font-weight:lighter}
@media all and (min-width: 768px){#nav-spacer{height:96px}
}@media all and (max-width: 767px){#nav-spacer{height:84px}
}body{background-color:#353535;font-family:'Century Gothic','CenturyGothic',Helvetica,sans-serif}
body.body-white{background-color:#fff}
p{font-family:'Tahoma',Helvetica,sans-serif;font-size:13px}
img{-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;-o-transition-timing-function:ease;-ms-transition-timing-function:ease;transition-timing-function:ease;-webkit-transition-duration:.5s;-moz-transition-duration:.5s;-o-transition-duration:.5s;-ms-transition-duration:.5s;transition-duration:.5s}
a{color:#429ec7;text-decoration:none}
.serif{font-family:"Palatino Linotype","Book Antiqua",Palatino,serif;font-style:italic}
.grey{color:#888}
.text-size-base{font-size:13px}
.text-size-sm{font-size:18.2px}
.text-size-md{font-size:22.75px}
.text-size-lg{font-size:32.5px}
.no-wrap{text-wrap:nowrap}
.spacer{height:2px;background-color:#fff;width:100%}
.caps-title{font-family:Roboto,sans-serif;font-size:16px;font-weight:lighter;text-transform:uppercase}
.caps{text-transform:uppercase}
.space-left{margin-left:48px}
.space-left-sm{margin-left:24px}
.space-right-sm{margin-right:24px}
.space-top{margin-top:48px}
.space-top-sm{margin-top:24px}
.space-top-xs{margin-top:12px}
.pad-right-1{padding-right:24px}
.pad-right-2{padding-right:48px}
.text-column{padding-right:24px}
.hidden{display:none}
@media all and (max-width: 767px){.hide-mobile{display:none}
}@media all and (min-width: 768px){.hide-desk{display:none}
}.right{text-align:right}
.center{text-align:center}
.left{text-align:left}
.fl{float:left}
.fr{float:right}
.right-gutter{padding-right:24px}
.full{padding-left:0}
@media all and (max-width: 767px){.mobile-full{padding-left:0}
}.gone{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translate(-50px,0);-moz-transform:translate(-50px,0);-o-transform:translate(-50px,0);-ms-transform:translate(-50px,0);transform:translate(-50px,0)}
.swappable{position:relative}
.swappable section{-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;-ms-transition:all 0.3s ease;transition:all 0.3s ease;position:absolute}
@media all and (min-width: 768px){#main > div > section{min-height:504px;max-height:504px;overflow:hidden}
}@media all and (max-width: 767px){#main > div > section{overflow:hidden}
}header{background-color:#000;background-image:-webkit-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);background-image:-moz-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);background-image:-o-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);background-image:-ms-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);background-image:linear-gradient(to top, #2c2c2c 20%, #1d1d1d 78%);border-bottom:3px solid #fff;height:80px;position:fixed;top:0;z-index:10;border-top:1px solid #000;width:100%}
header img{max-width:80px;max-height:80px}
#hero{background-position:center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;color:#fff;}
@media all and (min-width: 768px){#hero{background-image:url("https://csgsitestorage.blob.core.windows.net/img/1800_main_hero.jpg")}
}@media all and (max-width: 767px){#hero{background-image:url("https://csgsitestorage.blob.core.windows.net/img/1800_main_hero.jpg");min-height:500px}
}#hero #mobile-title{font-family:Roboto;font-style:italic;font-size:25px;margin:144px 10% 0 10%;text-align:left}
#hero #headline{min-width:335px;font-size:60px;font-family:'Roboto';color:#fff;font-style:italic;font-weight:100;line-height:.814}
#hero #subline{font-size:51px;font-family:'Roboto';color:#fff;font-style:italic;line-height:.3}
#hero #tagline{font-family:'Roboto';font-style:italic;font-weight:100;}
@media all and (min-width: 768px){#hero #tagline{font-size:30px;line-height:1.941;color:rgba(82,189,236,0.5)}
}@media all and (max-width: 767px){#hero #tagline{font-size:15px;line-height:0;color:#52bdec}
}#hero #tagline + div{font-size:35px;font-family:Roboto;font-style:italic;font-weight:100;padding:0 10px 0 10px;color:#52bdec}
@media all and (max-width: 767px){#hero #tagline + div{display:none}
}@media all and (min-width: 768px){#hero #tagline + div{display:inline}
}#hero #blocks{margin-top:50px}
#work-container{background-image:url("/img/work_bg.png");background-position:center;background-repeat:repeat-y}
#work{color:#fff;}
#work aside{background-color:#09a4e6;height:100%}
@media all and (min-width: 768px){#services-container{background-image:url("/img/services_bg.png");background-position:center;background-repeat:repeat-y}
}@media all and (max-width: 767px){#services-container{background-color:#11517d}
}#services aside{color:#00a3e4;}
#services aside hr{border:none;border-bottom:1px solid #00a3e4;margin:5px 0 0 0}
@media all and (min-width: 768px){#services aside hr{width:85%}
}#services aside ul{margin:0;padding:0;list-style-type:none;}
#services aside ul li.active{color:#fff;}
#services aside ul li.active .chevron{-webkit-transform:rotate(180deg) translateY(25px);-moz-transform:rotate(180deg) translateY(25px);-o-transform:rotate(180deg) translateY(25px);-ms-transform:rotate(180deg) translateY(25px);transform:rotate(180deg) translateY(25px);}
#services aside ul li.active .chevron polyline{stroke:#fff}
#services aside ul li.active > svg path{fill:#fff}
#services aside ul li.active > svg polygon{fill:#fff}
@media all and (min-width: 768px){#services aside ul li{cursor:pointer;padding:20px 0 5px 0}
}@media all and (max-width: 767px){#services aside ul li{position:relative;font-size:36px;padding:24px;border-bottom:1px solid #2ca3e5}
#services aside ul li .chevron{position:absolute;right:5%;top:35%;}
#services aside ul li .chevron polyline{stroke:#00a3e4}
}#services aside ul li > svg{vertical-align:middle;margin-right:10px;}
@media all and (min-width: 768px){#services aside ul li > svg{width:35px;height:35px}
}@media all and (max-width: 767px){#services aside ul li > svg{width:50px;height:50px}
}#services aside ul li > svg path{fill:#00a3e4}
#services aside ul li > svg polygon{fill:#00a3e4}
@media all and (min-width: 768px){#services aside ul li:hover{color:#fff;}
#services aside ul li:hover > svg path{fill:#fff}
#services aside ul li:hover > svg polygon{fill:#fff}
}#services article{position:relative;height:504px;color:#043c57;}
#services article > div{padding-right:40px}
#services article hr{width:97.5%;border:none;border-bottom:2px solid #ccc;margin:5px 0 0 0}
#services article .title{font-size:25px}
#services article section{width:780px;}
#services article section svg{margin:-15px 20px 0 0}
#about-container{background-image:url("/img/about_bg.png");background-repeat:repeat-x}
#about aside{margin-top:25px;background-color:#333;-webkit-border-radius:4px;border-radius:4px;color:#fff;}
#about aside img{margin:20px 10px 0 0;display:inline-block;vertical-align:middle}
#about aside #jerry{vertical-align:middle;display:inline-block;margin-top:15px;}
#about aside #jerry > span{font-size:120%}
#about section{color:#fff;padding:0 36px 0 36px}
#about .swapper{margin:238px 0 0 0;padding:0;list-style-type:none;position:relative;}
#about .swapper .active{opacity:1;-ms-filter:none;filter:none;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);z-index:6 !important}
#about .swapper li{-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;-ms-transition:all 0.3s ease;transition:all 0.3s ease;opacity:.4;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:alpha(opacity=40);-webkit-transform:scale(.9);-moz-transform:scale(.9);-o-transform:scale(.9);-ms-transform:scale(.9);transform:scale(.9);position:absolute;display:inline}
#about .swapper li:nth-child(2){left:128px;z-index:4}
#about .swapper li:nth-child(3){left:256px;z-index:5}
#about .swapper li:nth-child(4){left:384px;z-index:4}
#about .swapper li:nth-child(5){left:512px;z-index:3}
#about .swapper li:hover:not(.active){opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
#updates-container{background-image:url("/img/posts_bg.png");background-repeat:repeat-x}
#updates{background-color:#f3f3f3;}
#updates .container{padding:24px 0 24px 0;line-height:28px}
#updates h1,#updates h2,#updates h3,#updates h4,#updates h5,#updates h6{margin:0}
#updates div{position:relative}
#updates .circle{background-position:-3px -3px;position:absolute;background-color:#9b9b9b;-webkit-border-radius:40px;border-radius:40px;-webkit-box-shadow:0 0 5px 0;box-shadow:0 0 5px 0}
@media all and (min-width: 768px){#updates .circle{top:-40px;left:-15px;width:80px;height:80px}
}@media all and (max-width: 767px){#updates .circle{top:-30px;left:-5px;width:60px;height:60px;-webkit-background-size:70px;-moz-background-size:70px;background-size:70px}
}@media all and (max-width: 767px){#updates .post{margin:24px 0}
}#updates .icon-blog{background-image:url("https://csgsitestorage.blob.core.windows.net/img/postIcon_blog.png")}
#updates .icon-career{background-image:url("https://csgsitestorage.blob.core.windows.net/img/postIcon_careers.png")}
#updates .icon-news{background-image:url("https://csgsitestorage.blob.core.windows.net/img/postIcon_news.png")}
#updates .abstract{min-height:270px;max-height:270px;-o-text-overflow:ellipsis;text-overflow:ellipsis}
#updates article{color:#fff;padding:10px 15px 10px 48px;-webkit-border-radius:4px;border-radius:4px;background-color:#09a4e6;}
#updates article a{color:#fff}
.search input{width:90%;border:solid #d3d3d3 2px;-webkit-border-radius:4px;border-radius:4px;padding:3px 3px 3px 12px}
#contact-container{background-image:url("/img/contact_bg.jpg");background-repeat:no-repeat;background-position:top}
#contact h1{font-size:1.6em}
#contact p{margin-top:0}
#contact input,#contact textarea{background-color:#e5e5e5;width:100%;max-width:100%;max-height:150px;padding:0;border:none;margin-bottom:12px}
#contact article{margin-top:48px}
#contact small{font-size:60%}
#contact .panel{padding-right:24px;padding-bottom:24px;background-color:#fcfcfc;-webkit-border-radius:4px;border-radius:4px}
#contact .panel div:first-child{margin-top:24px}
#contact label{color:#0aa3e7;font-size:12px;font-weight:bolder;text-transform:uppercase;font-family:'Century Gothic',CenturyGothic,Helvetica,sans-serif}
#contact button{border:none;background-color:#0aa3e7;padding:6px;color:#fff;font-family:Roboto;font-style:italic;font-size:12px}
footer{min-height:400px;background-image:url("/img/footer_bg.png");background-repeat:no-repeat;background-position:center top}
.small-logo{width:60px;height:60px;margin:15px 0 0 20px;cursor:pointer}
.big-logo{margin:-65px 0 0 0;height:160px;width:160px}
.wrapper{margin:0 auto 0 auto;max-width:1060px}
.selected{font-size:29px;color:#fff;line-height:0}
.fixed-menu{z-index:10;position:fixed;top:-3px;left:0;width:100%;-webkit-box-shadow:0 5px 15px #000;box-shadow:0 5px 15px #000;}
.fixed-menu ul{margin:35px 0 0 0}
nav{color:#4aaad4;font-size:18px;position:relative;}
@media all and (max-width: 767px){nav{display:none}
}@media all and (min-width: 768px){nav{background-color:#000;background-image:-webkit-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);background-image:-moz-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);background-image:-o-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);background-image:-ms-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);background-image:linear-gradient(to top, #2c2c2c 20%, #1d1d1d 78%);border-bottom:3px solid #fff;border-top:3px solid #fff;height:92px}
nav ul{float:right;margin:35px 0 0 0;}
nav ul li{cursor:pointer;display:inline;padding:0 15px 0 15px}
}