@import 'nib' // nib does several things including vendor prefixes

/**
 * Nib provides a CSS reset
 */
// global-reset()


/***************************************
 * Variables
 ***************************************/
background-color = #353535
main-blue = #09A4E6
text-blue = #48ABD5
base-font-size = 13px
wrapper-max-width = 1060px
mobile = "all and (max-width: 914px)"
desk = "all and (min-width: 915px)"
border-radii = 4px
gutter = 24px

/***************************************
 * General Styles
 ***************************************/

.browsehappy
  width 320px
  background #fff
  margin auto
  padding 100px

#nav-spacer
  @media desk
    height 96px
  @media mobile
    height 60px

img
  transition-property width,height,margin-bottom,margin-top,margin-left,margin-right
  transition-timing-function ease
  transition-duration 0.5s

body
  overflow-x hidden

thead tr
  border-bottom 1px solid #ccc

td, th
  padding 3px 24px 3px 0

/***************************************
 * Sticky Footer CSS
 ***************************************/

html,body
  height: 100%

.sticky-footer-wrapper
  min-height 100%
  height auto !important
  height 100%
  margin 0 auto -108px

.sticky-footer, .sticky-footer-push
  height 108px

/***************************************
 * Off canvas nav
 ***************************************/
.mobile-nav,.main-body
  transition all ease 0.4s

#work
  backface-visibility: hidden;

.mobile-nav
  width 75%
  background-color #343434
  float left
  margin-left -80%
  height 1000px
  z-index 20
  position fixed
  top 0
  left 0
  ul
    font-family 'CenturyGothicStd', 'Century Gothic', 'CenturyGothic', Helvetica, sans-serif
    font-size 30px
    list-style-type none
    margin 0
    padding 0 0 0 gutter
    li
      padding 12px 0
      border-bottom solid #4C4C4C 2px
  .bottom
    text-align center
    position absolute
    top 35%
    left 20%


.main-body
  min-width 100%
  position relative

.nav-open .mobile-nav
  margin-left 0
  padding-right gutter*0.5


.toggle-nav
  margin 16px 0 0 16px
  float left

.icon-bar
  width 38px
  height 6px
  border-top solid #227DB4 2px
  margin-top 2px
  background-color #2CA1EE



/***************************************
 * Posts
 ***************************************/
.topic-list
  list-style-type none
  padding gutter*0.5 !important
.topic-list li
  margin 5px 0 5px 0
.topic-list a
  color white
  font-size base-font-size
  text-transform uppercase


.icon-lg
  width 60px
.icon-sm
  width 15px
  margin-left 10px
  vertical-align text-top

.avatar
  vertical-align middle
  background-color #e5e5e5
  margin-right gutter*0.5
.avatar-sm
  border-radius 55px
  width 55px



/***************************************
 * Modals
 ***************************************/

.modal
  display none

#simplemodal-overlay
  background-color #000

#simplemodal-container
  padding gutter 0 gutter 0
  background-color #FCFCFC
  border-radius border-radii
  height 450px
  @media desk
    width 600px
  @media mobile
    width 320px
  button
    position absolute
    bottom gutter
    right gutter

#simplemodal-container a.modalCloseImg
  background url('/img/icon_x.png') no-repeat
  cursor pointer
  display inline
  height 29px
  position absolute
  right -16px
  top -15px
  width 25px
  z-index 3200

/***************************************
 * Helpers
 ***************************************/

.grey
  color #888 !important

.white
  color #fff !important

.blue
  color main-blue

.text-size-base
  font-size base-font-size*1
.text-size-sm
  font-size base-font-size*1.4
.text-size-md
  font-size 22px
.text-size-lg
  font-size base-font-size*2.5

.mobile--text-size-sm
  @media mobile
    font-size base-font-size*1.4
.mobile--text-size-xs
  @media mobile
    font-size base-font-size*0.9


.spacer
  height 2px
  background-color #fff
  width 100%

.caps-title
  font-family Roboto, sans-serif
  font-size 16px
  font-weight lighter
  text-transform uppercase

.panel
  border-radius border-radii

.panel.panel-blue
  background-color main-blue
  color #fff


.caps
  text-transform uppercase

.space-left
  margin-left gutter*2
.space-left-sm
  margin-left gutter
.space-right-sm
  margin-right gutter

.center-images
  img
    display inline-block
    vertical-align middle
    padding-right gutter
.inline-block
  display inline-block

.space-top-xs
  margin-top gutter*0.5
.space-top-xxs
  margin-top gutter*0.25
.space-top-sm
  margin-top gutter
.space-top
  margin-top gutter*2
.space-top-lg
  margin-top gutter*3
.space-top-xl
  margin-top gutter*4
.desk--space-top
  @media desk
    margin-top gutter*2
.mobile--space-top-xs
  @media mobile
    margin-top gutter*0.5
.mobile--space-top
  @media mobile
    margin-top gutter*2
.space-bottom
  margin-bottom gutter
.space-bottom-lg
  margin-bottom gutter*2
.space-bottom-dm
  margin-bottom gutter*0.5
.desk--space-top-sm
  @media desk
    margin-top gutter*0.5

.pad-bottom-xs
  padding-bottom gutter*0.5
.pad-bottom-sm
  padding-bottom gutter
.pad-bottom
  padding-bottom gutter*2
.pad-bottom-lg
  padding-bottom gutter*3
.pad-bottom-xl
  padding-bottom gutter*4

.pad-right-1
  padding-right gutter
.pad-right-2
  padding-right gutter*2

.vmid
  vertical-align middle

.mobile--pad-right-1
  @media mobile
    padding-right gutter
.mobile--pad-right-2
  @media mobile
    padding-right gutter*2
.mobile--pad-top-1
  @media mobile
    padding-top gutter
.mobile--pad-top-2
  @media mobile
    padding-top gutter*2

.text-column
  padding-right gutter

.hidden
  display none

.icon-vertical-bar
  border-right 1px solid #fff
  margin-right 12px
  margin-top 8px
  height 40px

.alert
  padding gutter*0.5
  margin-bottom gutter*0.5
  margin-top gutter*0.5
  border 1px solid transparent
  border-radius border-radii
.alert-info
  color #3a87ad
  background-color #d9edf7
  border-color #bce8f1
.alert-error
  color #ffffff
  background-color #bc0000
  border-color #730000
.alert-success
  color #ffffff
  background-color #008c33
  border-color #004c05

@media mobile
  .hide-mobile
    display none !important

@media desk
  .hide-desk
    display none !important

.hide
  display none !important

.right
  text-align right
.desk--right
  @media desk
    text-align right
.center
  text-align center
.mobile--center
  @media mobile
    text-align center
.desk--center
  @media desk
    text-align center
.left
  text-align left
.fl
  float left
.fr
  float right
.desk--fr
  @media desk
    float right
.right-gutter
  padding-right gutter
.full
  padding-left 0
.mobile--full
  @media mobile
    padding-left 0
.desk--full
  @media desk
    padding-left 0

.mobile--img-sm
  @media mobile
    max-width 30%

.btn
  font-family Roboto
  font-size 14px
  border none
  border-radius border-radii*0.5
.btn-blue
  background-color #0AA3E7
  padding 6px
  color white

/***************************************
 * Swappable styling
 ***************************************/
.gone
  opacity 0
  visibility hidden
  transform translate(-50px, 0)

.swappable
  position relative
  height 260px
  .hide
    opacity 0
    transform translate(-50px,0)

.swappable section
  transition all 0.3s ease
  /*position absolute*/



/***************************************
 * Swipshow
 ***************************************/
.swipeshow
  width 100%
  @media desk
    height 100%
  @media mobile
    min-height 1200px


.swipeshow .container
  margin-top gutter*0.5
  border-top 1px solid #fff

.swipeshow .next
  cursor pointer
  @media desk
    position absolute
    right 5%
    bottom 5%

.swipeshow .previous
  cursor pointer
  @media desk
    position absolute
    left 5%
    bottom 5%

/***************************************
 * Sections
 ***************************************/

// DEBUG: here to keep the sections at the proper size until they have content
// I might end up leaving this as the sections have a static size on the desktop
// version
@media desk
  #work,#services,#updates,#about
    /*max-height 650px*/
    overflow hidden
@media mobile
  #work,#services,#about,#updates,#contact
    overflow hidden

/////////////////////////////////
// HERO
/////////////////////////////////

header
  img
    max-width 50px
    max-height 50px
    margin 5px 16px
  background-color #000
  background-image linear-gradient(bottom, rgb(44,44,44) 20%, rgb(29,29,29) 78%)
  border-bottom 3px solid white
  height 60px
  position fixed
  z-index 10
  border-top 1px solid black
  width 100%


#hero
  min-height 500px
  background-position center
  background-repeat no-repeat
  background-size cover
  color #fff
  @media desk
    background-image url('https://csgsitestorage.blob.core.windows.net/img/1800_main_hero.jpg')
    background-attachment fixed
  @media mobile
    background-image url('https://csgsitestorage.blob.core.windows.net/img/1800_main_hero.jpg')
    min-height 500px //TODO: should use javascript to resize
  #mobile-title
    font-family Roboto
    font-style italic
    font-size 25px
    margin gutter*7 10% 0 10%
    text-align left
  #headline
    // margin-top 150px
    min-width 335px
    font-size base-font-size*3.4
    font-family 'Roboto'
    color #fff
    font-style italic
    font-weight 100
    line-height 0.814
  #subline
    font-size 51px
    font-family 'Roboto'
    color #fff
    font-style italic
    /*line-height 0.3*/
    line-height 1em
  .tagline
    font-family 'Roboto'
    font-style italic
    font-weight 100
    @media desk
      font-size base-font-size*1.8
      line-height 1.941
      color rgb(82, 189, 236)
    @media mobile
      font-size 16px
      line-height 0
      color rgb(82, 189, 236)
  .tagline + div
    @media mobile
      display none
    @media desk
      display inline
    font-size base-font-size*1.8
    font-family Roboto
    font-style italic
    font-weight 100
    padding 0 10px 0 10px
    color rgb( 82, 189, 236 )
  #blocks
    margin-top 50px



/////////////////////////////////
// WORK
/////////////////////////////////
#work-container
  background-color main-blue
#work
  color #fff
  aside
    @media desk
      height 100%
  article
    position relative
    background-size cover
    background-repeat no-repeat
    @media desk
      height 101%
    @media mobile
      height 300px

/////////////////////////////////
// SERVICES
/////////////////////////////////
.section
  display none
.section.active
  display block
  padding-top gutter*0.5

#services-container
  @media desk
    background-image url('/img/services_bg.png')
    background-position center
    background-repeat repeat-y
  @media mobile
    background-color #11517D
#services
  aside
    color #00A3E4
    height 100%
    background-color #00517E
    hr
      @media desk
        width 100%
      border none
      border-bottom 1px solid #00A3E4
      margin 5px 0 0 0
    > ul
      margin 0
      padding 0
      list-style-type none
      section,.section
        color #000
        background-color #f3f3f3
        .title
          font-size base-font-size*2
          font-family 'CenturyGothicStd', 'Century Gothic', 'CenturyGothic', Helvetica, sans-serif
      li.active .services-menu
        color #fff
        .chevron
          transform rotate(180deg) translateY(25px)
          polyline
            stroke #fff
        > svg
          path
            fill #fff
          polygon
            fill #fff
      .services-menu
        @media desk
          cursor pointer
          padding 20px 0 5px 0
        @media mobile
          position relative
          font-size 36px
          padding gutter
          border-bottom 1px solid #2CA3E5
          .chevron
            position absolute
            right 5%
            top 35%
            polyline
              stroke #00A3E4
        > svg // these are the icons in the services section
          vertical-align middle
          @media desk
            width 35px
            height 35px
          @media mobile
            width 50px
            height 50px
          margin-right 10px
          path
            fill #00A3E4
          polygon
            fill #00A3E4
      @media desk
        .services-menu:hover
          color #fff
          > svg
            path
              fill #fff
            polygon
              fill #fff
  article
    position relative
    height 504px
    color #043C57
    > div
      padding-right 40px
    hr
      width 97.5%
      border none
      border-bottom 2px solid #ccc
      margin 5px 0 0 0
    .title
      font-size 25px
    section
      max-width 780px
      svg
        margin -15px 20px 0 0

/////////////////////////////////
// ABOUT
/////////////////////////////////
picture-spacing = 21%

#about-container
  // background-image url('/img/about_bg.png')
  background-color #000
  background-image linear-gradient(to bottom, #595959 0%, #3B3B3B 100%)
  background-repeat repeat-x
#about
  position relative

  @media desk
    max-height 625px!important

  aside
    margin-top 25px
    @media desk
      background-color #333333
    border-radius border-radii
    color #fff
    img
      margin 20px 10px 0 0
      display inline-block
      vertical-align middle
    #jerry
      vertical-align middle
      display inline-block
      margin-top 15px
      > span
        font-size 120%
  section
    color #fff
    padding 0 36px 0 36px
  .swapper
    list-style-type none
    position relative
    /*position absolute
    bottom 230px
    right 625px*/
    left 36px
    .cutout
      width 176px
      height 279px
      background-position top right
      img
        display none
      &.cutout_chuck
        background-image url('/img/about/about_cutout_chuck.png')
      &.cutout_ron
        width 170px
        background-image url('/img/about/about_cutout_ron.png')
      &.cutout_kevin
        width 197px
        background-image url('/img/about/about_cutout_kevin.png')
      &.cutout_james
        width 154px
        background-image url('/img/about/about_cutout_james.png')
    .active
      z-index 6 !important
      .cutout
        background-position 0 -50%
      dl
        margin-bottom 19px
        .role
          color rgb(255,255,255)
        &:after
          background url('/img/about_selected_pointer.svg') bottom center no-repeat
          clear both
          content " "
          display block
          height 6px
          margin 0 auto
          width 137px
    li
      transition-property transform
      transition-duration 0.3s
      transition-timing-function ease
      position absolute
      /*display inline*/
    li:first-child
      left 0
    li:nth-child(2)
      left picture-spacing * 1
      z-index 4
    li:nth-child(3)
      left picture-spacing * 2
      z-index 5
    li:nth-child(4)
      left (picture-spacing * 3) + 4
      z-index 4
    //li:nth-child(5)
    //  left picture-spacing * 4
    //  z-index 3
    // li:hover:not(.active)
    li:hover
      cursor pointer
      .cutout
        background-position 0 -50%
    li.active:hover
      cursor default
    dl
      margin 0 0 25px
      *
        margin 0 auto
        padding 0
        text-align center
        span
          display block
          width 130px
      dd
        padding-top: 3px
        padding-bottom 3px
        border-bottom 1px solid #fff
        height 30px


.name
  color rgb( 66, 158, 199 )
  font-family 'CenturyGothicStd', 'Century Gothic', 'CenturyGothic', Helvetica, sans-serif
  font-size 14px

.role
  color rgb( 194, 194, 194 )
  font-family "CenturySchoolbookBT-Italic", "Century Schoolbook L", "New Century Schoolbook", Garamond, Georgia, serif;
  font-size 11px


/////////////////////////////////
// UPDATES
/////////////////////////////////
#updates-container
  // background-image url('/img/posts_bg.png')
  background-color #f3f3f3
  background-repeat repeat-x
#updates
  .container
    padding gutter 0 gutter 0
    line-height 33px
  h1,h2,h3,h4,h5,h6
    margin 0
  div
  // padding: 100px 30px 0 40px;
    position relative
  .circle
    @media desk
      top -40px
      left -15px
      width 80px
      height 80px
    @media mobile
      top -30px
      left -5px
      width 60px
      height 60px
      background-size 70px
    background-position -3px -3px
    position absolute
    background-color #9B9B9B
    border-radius 40px
    box-shadow 0 0 5px 0
  .post
    @media mobile
      margin gutter 0
  .icon-blog
    background-image url('https://csgsitestorage.blob.core.windows.net/img/postIcon_blog.png')
  .icon-career
    background-image url('https://csgsitestorage.blob.core.windows.net/img/postIcon_careers.png')
  .icon-news
    background-image url('https://csgsitestorage.blob.core.windows.net/img/postIcon_news.png')
  .abstract
    @media desk
      min-height 316px
    text-overflow ellipsis
  article
    color #fff
    @media desk
      padding 10px 15px 10px gutter*2
    @media mobile
      padding 10px 10px 10px gutter
    border-radius border-radii
    background-color main-blue
    a
      color #fff
.search
  display inline-block
.search input
  border solid #D3D3D3 2px
  border-radius 4px
  padding 3px 3px 3px 12px

/////////////////////////////////
// CONTACT
/////////////////////////////////
#recaptcha_area
  display inline-block

#contact-container
  @media desk
    background-image url('/img/contact_bg_autumn.jpg')
    background-repeat no-repeat
    background-position top
  @media mobile
    background-image url('/img/mobile_contact_bg_autumn.jpg')
    background-position bottom center
  @media all and (max-width: 900px)
    background-size 150%
  @media all and (max-width: 700px)
    background-size 180%
  @media all and (max-width: 550px)
    background-size 240%
  @media all and (max-width: 400px)
    background-size 400%
#contact
  height 506px
  h1
    font-size 1.6em
  p
    margin-top 0

.input-grey
  background-color #E5E5E5
  width 100%
  max-width 100%
  max-height 150px
  padding 0
  border none
  margin-bottom gutter*0.5
.panel-white
  padding-right gutter
  padding-bottom gutter
  background-color #FCFCFC
  border-radius border-radii
// .panel-white div:first-child
//   margin-top gutter
.lbl
  color #0AA3E7
  font-size 11px
  font-weight bolder
  text-transform uppercase
  font-family 'CenturyGothicStd', 'Century Gothic', 'CenturyGothic', Helvetica, sans-serif

.scene-footer
  @media desk
    // min-height 200px
    background-color #353535
    background-image url('/img/footer_bg_spring.png')
    background-repeat no-repeat
    background-position center top
  @media mobile
    background-color #252525

.side-margins
  margin-left: gutter*0.25
  margin-right: gutter*0.25

.scene-footer
  .spaced
    @media desk
      margin-top 87px
      padding-bottom 90px
.inner-footer footer
  background-image none
  background-color #f3f3f3
  .spaced
    @media desk
      margin-top gutter
      padding-bottom gutter

.careers
  p
    color #999
    font-family 'CenturyGothicStd', 'Century Gothic', 'CenturyGothic', Helvetica, sans-serif
    font-size base-font-size*1.3
    font-weight lighter
    a
      font-weight bolder







/***************************************
 * Logo
 ***************************************/
.small-logo
  width 80px
  height 90px
  margin 5px 0 0 20px
  cursor pointer

.big-logo
  margin -65px 0 0 0
  height 160px
  width 160px

/***************************************
 * Navigation
 ***************************************/
.wrapper
  margin 0 auto 0 auto
  max-width wrapper-max-width

.updates .nav-updates,nav .link.selected
  font-size 29px
  color #fff
  line-height 0
  display initial

.fixed-menu
  z-index 10
  position fixed
  top -3px
  left 0
  width 100%
  box-shadow 0 5px 15px #000
  ul
    margin 35px 0 0 0


nav
  color rgb(89, 116, 129)
  font-size 18px
  position relative
  .link
    color rgb(74, 170, 212)
  @media desk
    background-color #000
    background-image linear-gradient(bottom, rgb(44,44,44) 20%, rgb(29,29,29) 78%)
    border-bottom 3px solid white
    border-top 3px solid white
    height 92px
    ul
      font-family 'CenturyGothicStd', 'Century Gothic', 'CenturyGothic', Helvetica, sans-serif
      font-size base-font-size*1.5
      float right
      margin 35px 0 0 0
      padding-left 0 !important
      li
        cursor pointer
        display inline
        padding 0 11px 0 11px

.mobile-header
  ul
    margin 27px 0 0 25px
    list-style-type none
  ul li:not(.selected)
    display none
  li.selected
    color #fff


/***************************************
 * SP@M PREVENTERS
 ***************************************/
.winnie-the-pooh
  display none

/***************************************
 * LANDING PAGE STYLES
 ***************************************/
.analytics
  nav
    background-color #0aa3e7
    background-image none
    li
      color #9bd3eb
    a
      color #fff

a.cta
  font-size 24px
  color main-blue

.solid
  div
    background-color #999
    margin-bottom 0
    margin-left -25px
    @media (min-width: 924px)
      min-height 300px
      margin-bottom 20px
      margin-left 0

    padding 10px 20px
    color #fff
    p, ul, ol
      font-family 'CenturyGothicStd', 'Century Gothic', 'CenturyGothic', Helvetica, sans-serif
      line-height 1.25em
      b
        font-family 'CenturyGothicStd-Bold'

.solid--one
  div
    background-color #999999

.solid--two
  div
    background-color #eaedf2
    color gray

.solid--three
  div
    background-color #00537d
    @media (min-width: 924px)
      min-height 320px

.solid--four
  div
    background-color #20a1dc
    @media (min-width: 924px)
      min-height 320px
  a
    color #fff300

.box
  box-sizing border-box
  line-height 20px
  position relative
  overflow hidden
  width 100%
  @media (min-width: 400px)
    height 180px
  @media (min-width: 600px)
    width 40%
    margin-right 4%
    margin-bottom 20px
    float left
  @media (min-width: 924px)
    display block
    margin-right 0
    margin-bottom 20px
    width 100%
    height 213px
  &.gray
    background-color #444
    a
      color #fff
  &.white
    background-color #fff
    border 1px solid #444
  &.dark-blue
    background-color #00537d
    border 0px
  a
    display block
    &:hover,&:focus
      text-decoration underline

a.pdf
  display block
  img
    max-width 84px

.cell-bg
  position absolute
  z-index 1
  left 0px
  height 213px
  width 100%
  img
    display block
    margin 60px auto 0
    max-width 110%

.hero
  color #fff
  width 100%
  height 235px
  padding-left 0px
  /*@media (min-width: 400px)*/

  @media (min-width: 600px)
    height 360px

  @media (min-width: 900px)
    height 446px
    width 770px

  .cell-bg
    @media (min-width: 600px)
      left 24px
    img
      width 100%
      margin-top 0
  .cell-content
    @media (min-width: 600px)
      left 24px
  h3
    font-size base-font-size*1.8
    line-height 1em
    font-weight bold
    margin 0
    font-family 'CenturyGothicStd-Bold'
    margin 0
    @media (min-width: 400px)
      font-size base-font-size*2.2
    @media (min-width: 600px)
      font-size base-font-size*4
    @media (min-width: 800px)
      font-size base-font-size*5.3
  h4,h5
    margin 0
    font-size base-font-size*1.4
    line-height 1.2em
    color #ddd
    @media (min-width: 400px)
      font-size base-font-size*1.8
    @media (min-width: 600px)
      font-size base-font-size*2.2
    @media (min-width: 800px)
      font-size base-font-size*3
  h5
    font-size base-font-size*1.2
    @media (min-width: 400px)
      font-size base-font-size*1.6
    @media (min-width: 600px)
      font-size base-font-size*2
    @media (min-width: 800px)
      font-size base-font-size*2.4

.cell-content
  position absolute
  bottom 10px
  z-index 2
  left 0
  a
    display block
    h3
      margin 0
    span
      font-size base-font-size*1.3
      color main-blue
      /*text-shadow 0 0 2px #000*/

.title.cell-content
  width 100%
  bottom auto
  a
    position relative
    height 150px
    @media (min-width: 924px)
      height 180px
    h3
      position absolute
      top 0
    span
      display block
      position absolute
      bottom 0



.hero
  .cell-content
    bottom 0
    @media (min-width: 600px)
      bottom 30px

/*.no-pad
  padding 0
  .cell-bg, .cell-content
    margin-left -15px
    margin-right -15px
    margin-top -15px
    margin-bottom -15px
  a
    &:hover,&:focus
      text-decoration none*/

.no-pad
  padding-left 0
  margin-bottom 20px
  @media (min-width: 600px)
    padding-left 24px
    margin-bottom 0

.inner-pad
  display block
  padding 15px


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hr-top
  border-top 1px solid #aaa
  padding-top 15px
  color #888
  font-family 'CenturyGothicStd', 'Century Gothic', 'CenturyGothic', Helvetica, sans-serif
  line-height base-font-size*1.6;

.hr-bottom
  border-bottom 1px solid #aaa
  padding-bottom 15px
  color #888
  font-family 'CenturyGothicStd', 'Century Gothic', 'CenturyGothic', Helvetica, sans-serif
  line-height base-font-size*1.6;

ul.well-form
  li
    padding-bottom 10px

// Fluid Video Wrapper
.fluid-width-video-wrapper
  width 100%
  position relative
  padding 0
  padding-top 56.25%

.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed
  position absolute
  top 0
  left 0
  width 100%
  height 100%
