/**
 * Nib provides a CSS reset
 */
/***************************************
 * Variables
 ***************************************/
#hero {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
@media all and (min-width: 45em) {
  #hero {
    background-image: url("https://csgsitestorage.blob.core.windows.net/img/1800_main_hero.jpg");
  }
}
@media all and (max-width: 45em) {
  #hero {
    background-image: url("/img/hero-background-large.jpg");
    min-height: 10em;
  }
}
#nav-spacer {
  height: 96px;
}
body {
  background-color: #353535;
  font-family: 'Century Gothic', 'CenturyGothic', Helvetica, sans-serif;
}
p {
  font-family: 'Roboto';
  font-size: 12px;
}
img {
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
a {
  color: #429ec7;
  text-decoration: none;
}
.spacer {
  height: 2px;
  background-color: #fff;
  width: 100%;
}
.caps-title {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
}
.space-top {
  margin-top: 40px;
}
/***************************************
 * Sections
 ***************************************/
#main > section {
  min-height: 504px;
}
#hero {
  color: #fff;
}
#hero #headline {
  min-width: 335px;
  font-size: 60px;
  font-family: 'Roboto';
  color: #fff;
  font-style: italic;
  font-weight: 100;
  line-height: 0.814;
}
#hero #subline {
  font-size: 51px;
  font-family: 'Roboto';
  color: #fff;
  font-style: italic;
  line-height: 1.214;
}
#hero #tagline {
  font-size: 30px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  line-height: 1.941;
  color: rgba(82,189,236,0.36);
}
#hero #tagline + span {
  font-size: 35px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  padding: 0 10px 0 10px;
  color: #52bdec;
}
#hero #blocks {
  margin-top: 50px;
}
#work {
  background-color: #09a4e6;
  color: #fff;
}
#work aside {
  background-color: #09a4e6;
  height: 100%;
}
#services {
  background-color: #00517e;
}
#services article {
  background-color: #e6e6e6;
  color: #043c57;
}
#services article > div {
  padding-right: 40px;
}
#services article hr {
  width: 97.5%;
  border: none;
  border-bottom: 2px solid #ccc;
  margin: 5px 0 0 0;
}
#services article .gone {
  display: none;
}
#services article .title {
  font-size: 25px;
}
#services article section {
  height: 504px;
}
#services article section svg {
  margin: -15px 20px 0 0;
}
#services aside {
  color: #00a3e4;
}
#services aside hr {
  width: 85%;
  border: none;
  border-bottom: 1px solid #00a3e4;
  margin: 5px 0 0 0;
}
#services aside ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#services aside ul li {
  padding: 20px 0 5px 0;
}
@media all and (min-width: 45em) {
  #services aside ul li {
    cursor: pointer;
  }
}
#services aside ul li > svg {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
#services aside ul li > svg path {
  fill: #00a3e4;
}
#services aside ul li > svg polygon {
  fill: #00a3e4;
}
@media all and (min-width: 45em) {
  #services aside ul li:hover {
    color: #fff;
  }
  #services aside ul li:hover > svg path {
    fill: #fff;
  }
  #services aside ul li:hover > svg polygon {
    fill: #fff;
  }
}
#about {
  padding-top: 25px;
  background-color: #545454;
}
#about aside {
  background-color: #333;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
}
#about aside img {
  margin-top: 20px;
}
#updates {
  background-color: #f3f3f3;
}
#updates > div {
  padding-top: 100px;
  margin: 0 30px 0 40px;
}
#updates > div > div {
  position: relative;
}
#updates .circle {
  background-image: url("http://placekitten.com/80/80");
  position: absolute;
  top: -40px;
  left: -15px;
  width: 80px;
  height: 80px;
  background-color: #9b9b9b;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 5px 0;
  box-shadow: 0 0 5px 0;
}
#updates article {
  color: #fff;
  padding-top: 40px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #09a4e6;
}
#contact {
  background-color: #f8f8f8;
}
/***************************************
 * Helpers
 ***************************************/
.hidden {
  display: none;
}
@media all and (max-width: 45em) {
  .hide-mobile {
    display: none;
  }
}
@media all and (min-width: 45em) {
  .hide-desk {
    display: none;
  }
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/***************************************
 * Logo
 ***************************************/
.small-logo {
  width: 60px;
  height: 60px;
  margin: 15px 0 0 20px;
  cursor: pointer;
}
.big-logo {
  margin: -65px 0 0 0;
  height: 160px;
  width: 160px;
}
/***************************************
 * Navigation
 ***************************************/
.wrapper {
  margin: 0 auto 0 auto;
  max-width: 1060px;
}
.selected {
  font-size: 29px;
  color: #fff;
}
.fixed-menu {
  z-index: 1;
  position: fixed;
  top: -3px;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 5px 15px #000;
  box-shadow: 0 5px 15px #000;
}
.fixed-menu ul {
  margin: 25px 0 0 0;
}
nav {
  color: #4aaad4;
  font-size: 18px;
  position: relative;
}
@media all and (max-width: 45em) {
  nav {
    display: none;
  }
}
@media all and (min-width: 45em) {
  nav {
    background-color: #000;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #2c2c2c), color-stop(0.78, #1d1d1d));
    background-image: -webkit-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);
    background-image: -moz-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);
    background-image: -o-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);
    background-image: -ms-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);
    background-image: linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);
    border-bottom: 3px solid #fff;
    border-top: 3px solid #fff;
    height: 92px;
  }
  nav ul {
    float: right;
    margin: 35px 0 0 0;
  }
  nav ul li {
    cursor: pointer;
    display: inline;
    padding: 0 15px 0 15px;
  }
}
