@import 'nib' // nib does several things including vendor prefixes

/**
 * Nib provides a CSS reset
 */
// global-reset()


/***************************************
 * Variables
 ***************************************/
background-color = #353535
main-blue = #09A4E6
text-blue = #48ABD5
wrapper-max-width = 1060px
mobile = "all and (max-width: 45em)"
desk = "all and (min-width: 45em)"
border-radii = 4px

#hero
  background-position center
  background-repeat no-repeat
  background-size cover
  @media desk
    background-image url('https://csgsitestorage.blob.core.windows.net/img/1800_main_hero.jpg')
  @media mobile
    background-image url('/img/hero-background-large.jpg')
    min-height 10em //TODO: should use javascript to resize

#nav-spacer // TODO: fix
  height: 96px

body // TODO: fix fonts
  background-color background-color
  font-family 'Century Gothic', 'CenturyGothic', Helvetica, sans-serif

p
  font-family 'Roboto'
  font-size 12px

img
  transition-timing-function ease
  transition-duration 0.5s

a
  color rgb( 66, 158, 199 )
  text-decoration none

.spacer
  height 2px
  background-color #fff
  width 100%

.caps-title
  font-family Roboto, sans-serif
  font-size 16px
  font-weight lighter
  text-transform uppercase

.space-top
  margin-top 40px


/***************************************
 * Sections
 ***************************************/
// DEBUG
#main > section
  min-height 504px

// HERO
#hero
  color #fff
  #headline
    min-width 335px
    font-size 60px
    font-family 'Roboto'
    color #fff
    font-style italic
    font-weight 100
    line-height 0.814
  #subline
    font-size 51px
    font-family 'Roboto'
    color #fff
    font-style italic
    line-height 1.214
  #tagline
    font-size 30px
    font-family 'Roboto'
    font-style italic
    font-weight 100
    line-height 1.941
    color rgba(82, 189, 236, 0.36)
  #tagline + span
    font-size 35px
    font-family Roboto
    font-style italic
    font-weight 100
    padding 0 10px 0 10px
    color rgb( 82, 189, 236 )
  #blocks
    margin-top 50px



// WORK
#work
  background-color main-blue
  color #fff
  aside
    background-color main-blue
    height 100%
  // > article
  //   background-image url('https://csgsitestorage.blob.core.windows.net/img/casestudy_img_01.jpg')
  //   background-repeat no-repeat
  //   height 504px

// SERVICES
#services
  background-color #00517E
  article
    background-color #E6E6E6
    color #043C57
    > div
      padding-right 40px
    hr
      width 97.5%
      border none
      border-bottom 2px solid #ccc
      margin 5px 0 0 0
    .gone
      display none
    .title
      font-size 25px
    section
      height 504px
      svg
        margin -15px 20px 0 0
  aside
    color #00A3E4
    hr
      width 85%
      border none
      border-bottom 1px solid #00A3E4
      margin 5px 0 0 0
    ul
      margin 0
      padding 0
      list-style-type none
      li
        @media desk
          cursor pointer
        padding 20px 0 5px 0
        > svg // these are the icons in the services section
          vertical-align middle
          width 35px
          height 35px
          margin-right 10px
          path
            fill #00A3E4
          polygon
            fill #00A3E4
      @media desk
        li:hover
          color #fff
          > svg
            path
              fill #fff
            polygon
              fill #fff

// ABOUT
#about
  padding-top 25px
  background-color #545454
  aside
    background-color #333333
    border-radius border-radii
    color #fff
    img
      margin-top 20px

// UPDATES
#updates
  background-color #F3F3F3
  > div
    padding-top: 100px;
    margin: 0 30px 0 40px;
  > div > div
  // padding: 100px 30px 0 40px;
    position relative
  .circle
    background-image url('http://placekitten.com/80/80')
    position absolute
    top -40px
    left -15px
    width 80px
    height 80px
    background-color #9B9B9B
    border-radius 40px
    box-shadow 0 0 5px 0
  article
    color #fff
    padding-top 40px
    border-radius border-radii
    background-color main-blue

// CONTACT
#contact
  background-color #F8F8F8

/***************************************
 * Helpers
 ***************************************/
.hidden
  display none

@media mobile
  .hide-mobile
    display none

@media desk
  .hide-desk
    display none

.right
  text-align right
.center
  text-align center
.left
  text-align left
.fl
  float: left
.fr
  float: right

/***************************************
 * Logo
 ***************************************/
.small-logo
  width 60px
  height 60px
  margin 15px 0 0 20px

.big-logo
  margin -65px 0 0 0
  height 160px
  width 160px

/***************************************
 * Navigation
 ***************************************/
.wrapper
  margin 0 auto 0 auto
  max-width wrapper-max-width

.selected
  font-size 29px
  color #fff

.fixed-menu
  z-index 1
  position fixed
  top -3px
  left 0
  width 100%
  box-shadow 0 5px 15px #000


nav
  color rgb(74, 170, 212)
  font-size 18px
  position relative
  @media mobile
    display none
  @media desk
    background-color #000
    background-image linear-gradient(bottom, rgb(44,44,44) 20%, rgb(29,29,29) 78%)
    border-bottom 3px solid white
    border-top 3px solid white
    height 92px
    ul
      float right
      margin 35px 0 0 0
      li
        cursor pointer
        display inline
        padding 0 15px 0 15px

