/**
 * Nib provides a CSS reset
 */
/***************************************
 * Variables
 ***************************************/
#hero {
  background-position: center;
  background-repeat: no-repeat;
}
@media all and (min-width: 48em) {
  #hero {
    background-image: url("/img/hero-background-large.jpg");
    min-height: 31em;
  }
}
@media all and (max-width: 48em) {
  #hero {
    background-image: url("/img/hero-background-large.jpg");
    min-height: 10em;
  }
}
#nav-spacer {
  height: 100px;
}
body {
  background-color: #e6e6e6;
  font-family: 'Century Gothic';
}
/***************************************
 * Helpers
 ***************************************/
.hidden {
  display: none;
}
@media all and (max-width: 48em) {
  .hide-mobile {
    display: none;
  }
}
@media all and (min-width: 48em) {
  .hide-desk {
    display: none;
  }
}
/***************************************
 * Navigation
 ***************************************/
.wrapper {
  margin: 0 auto 0 auto;
  max-width: 56.7em;
}
.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav {
  color: #48abd5;
}
@media all and (max-width: 48em) {
  nav {
    display: none;
  }
}
@media all and (min-width: 48em) {
  nav {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #2c2c2c), color-stop(0.78, #1d1d1d));
    background-image: -webkit-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);
    background-image: -moz-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);
    background-image: -o-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);
    background-image: -ms-linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);
    background-image: linear-gradient(bottom, #2c2c2c 20%, #1d1d1d 78%);
    border-bottom: 3px solid #fff;
    border-top: 3px solid #fff;
    -webkit-box-shadow: 0 5px 15px #666;
    box-shadow: 0 5px 15px #666;
    height: 4.944em;
  }
  nav img {
    margin: -5px 0 0 0;
  }
  nav ul {
    float: right;
    margin: 1.6em 1em 0 0;
  }
  nav ul li {
    display: inline;
  }
  nav ul li:after {
    content: "/";
    padding: 0 1em 0 1em;
  }
  nav ul li:last-child:after {
    content: none;
  }
}
/***************************************
 * Panels
 ***************************************/
.blue-panel {
  background-color: #09a4e6;
  color: #fff;
}
