body
  background-color background-color
  font-family 'CenturyGothicStd', 'Century Gothic', 'CenturyGothic', Helvetica, sans-serif

body.body-white
  background-color #fff

h1,h2,h3,h4,h5,h6,.gothic
  font-family 'CenturyGothicStd', 'Century Gothic', 'CenturyGothic', Helvetica, sans-serif
  font-weight lighter

a
  color rgb( 66, 158, 199 )
  text-decoration none

p
  line-height 19px
  
p,ul,ol
  font-family 'Tahoma', Helvetica, sans-serif
  font-size 15px

code,pre
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;

pre
  // margin: 0 2px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;

.article // this is a blog post article
  h1,h2,h3,h4,h5,h6
    color #09A4E6
  h1
    margin-bottom 0

.serif
  font-family 'CenturySchoolbookBT-Italic', "Century Schoolbook", serif

.article img
  max-width 100%
