body{background-color:background-color;font-family:'Century Gothic','CenturyGothic',Helvetica,sans-serif}
body.body-white{background-color:#fff}
h1,h2,h3,h4,h5,h6{font-family:'Century Gothic','CenturyGothic',Helvetica,sans-serif;font-weight:lighter}
a{color:#429ec7;text-decoration:none}
p,ul,ol{font-family:'Tahoma',Helvetica,sans-serif;font-size:15px;line-height:19px}
code,pre{font-family:Consolas,"Liberation Mono",Courier,monospace;font-size:12px}
pre{padding:10px;border:1px solid #ddd;background-color:#f8f8f8;border-radius:3px}
.article h1,.article h2,.article h3,.article h4,.article h5,.article h6{color:#09a4e6}
.article h1{margin-bottom:0}
.article img{max-width:100%}
