<section class="post hero">
    {{{header}}}
    <div class="row intro">
        <div class="copy medium-centered medium-8 columns">
            <h2>{{title}}</h2>
            <div class="powered text-center">
                <p>
                    Powered By 
                    <img src="/resources/images/site/power-bi-logo.png" alt="Power BI Logo" />
                </p>
            </div>
        </div>
    </div>
</section>

<div class="row main-content">
    <div class="medium-4 large-3 columns show-for-medium" data-sticky-container>
        <div class="sticky" data-sticky data-anchor="content-container">
        {{> contact-widget}}
        {{> posts-widget}}
        </div>
    </div>
    <div class="medium-8 large-9 columns" id="content-container">
<p class="paragraph-primary">We love data and we love empowering our clients even more.  We work with you to surface data
so that you and your organization can make data-driven decisions. We routinely integrate data from multiple sources and
seemingly incompatible systems, transforming raw data to produce meaningful and actionable information. Our purpose is
to improve the quality and quantity of information available at your fingertips.</p>

<h4>What we are good at.</h4>

<p>We're people-oriented and data savvy. We are quick to understand your business and the information that matters most.
When it comes to technology, we’re good at choosing leading edge winners that deliver high value and low cost for our clients.
Microsoft Power BI is a prime example.  We were early adopters of Power BI and are the recognized experts in the region.
Business Analytics is our daily focus and our passion.</p>

<h4>What separates us from our competitors?</h4>

<p>We listen. Our experience, expertise and commitment reduce risk and ensure your project succeeds. We're highly productive,
easy to work with and competent engaging at all levels of your organization.  For us, the importance of our long-term
relationships are paramount and your success is our first measure of success. We won't let you fail.</p>

<h4>Thoughts, questions, comments.</h4>

<p>We'd like to get to know you and a little more of your unique situation. Let's see if a fit exists. Reach out <a data-open="contactModal">here</a>
or give us a quick call at 503-292-0859.</p>
        <aside>
            <h4>Our Power BI Samples</h4>
            <div class="row" data-equalizer data-equalize-on="medium">
                {{#each powerBISamples}}
                <div class="medium-4 columns {{#if @last}}end{{/if}}">
                    <div class="callout power-bi" data-equalizer-watch>
                        <a data-open="powerBIModal{{@index}}">
                        {{#if previewImageUrl}}
                        <img src="{{previewImageUrl}}" />
                        {{else}}
                        <img src="http://www.fillmurray.com/336/112" />
                        {{/if}}
                        </a>
                        <br />
                        <br />
                        <h5 class="power-bi-title"><a data-open="powerBIModal{{@index}}">{{title}}</a></h5>
                        {{{markdown (truncate description 60)}}}
                        <div class="reveal large" id="powerBIModal{{@index}}" data-reveal>
                            <h3>{{title}}</h3>
                            {{{markdown description}}}
                            {{#if downloadFile}}
                                <button class="button" onclick="openDownloadModal('{{downloadFile}}')">Download</button>
                            {{/if}}
                            <div class="flex-video widescreen">
                                <iframe width="1600" height="900" src="{{url}}" frameborder="0" allowFullScreen="true"></iframe>
                            </div>
                            <button class="close-button" data-close aria-label="Close reveal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </aside>
    </div>
</div>