<section class="post hero">
    {{{header}}}
    <div class="row intro">
        <div class="copy medium-centered medium-8 columns">
            <h2>{{title}}</h2>
        </div>
    </div>
</section>

<div class="row main-content">
    <div class="large-6 columns">
        <div class="flex-video show-for-large"><iframe frameborder="0" src="https://www.bing.com/maps/embed/viewer.aspx?v=3&amp;cp=45.527601~-122.682261&amp;lvl=16&amp;w=600&amp;h=400&amp;sty=r&amp;typ=d&amp;pp=~~45.528415~-122.685042&amp;ps=&amp;dir=0&amp;mkt=en-us&amp;src=SHELL&amp;form=BMEMJS" scrolling="no"></iframe></div>
        <div class="callout secondary">
            <div class="row">
                <div class="small-6 columns">
                    <label>Address:</label>
                    <address>
                        734 NW 14th Avenue<br />
                        Portland, OR 97209
                    </address>
                    <a target="_blank" href="https://www.bing.com/maps/?cp=45.528701~-122.688261&amp;sty=r&amp;lvl=16&amp;rtp=~pos.45.528415_-122.685042__&amp;mm_embed=dir">Get Directions</a>
                </div>
                <div class="small-6 columns">
                    <label>Phone:</label>
                    <div><a href="tel:503-292-0859" style="white-space: nowrap">503-292-0859</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="large-6 columns">
        <div class="callout" id="contactUsForm">
            {{> contact-form}}
        </div>
    </div>
</div>