<div id="post-edit">
    <h3>Post</h3>

    <div layout="row" class="md-inline-form">
        <form #postForm="ngForm" (ngSubmit)="onSubmit()" flex>
            <md-content>
                <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                    <button md-raised-button class="md-raised">Save</button>
                    <div *ngIf="currentUser?.isRole('ADMIN')">
                        <button type="button" md-raised-button class="md-raised" (click)="publish()" *ngIf="!post.publishedAt">Publish</button>
                        <button type="button" md-raised-button class="md-raised" (click)="unPublish()" *ngIf="post.publishedAt">Un-Publish</button>
                    </div>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-input placeholder="Post Title" type="text" name="title" [(ngModel)]="post.title" (keyup)="slugify($event, post.title)" required></md-input>
                </section>
                <section *ngIf="currentUser?.isRole('ADMIN')" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-input name="slug" placeholder="Slug" type="text" [(ngModel)]="post.slug" (keyup)="slugify($event)" required></md-input>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <table style="width: 100%" cellspacing="0">
                        <tr>
                            <td>
                                <label>Author</label>
                                <select name="author" [(ngModel)]="post.author" #author="ngModel" required>
                                    <option *ngFor="let author of authors" [ngValue]="author">{{author?.fullName}}</option>
                                </select>
                            </td>
                            <td>
                                <label>Category</label>
                                <select name="category" [(ngModel)]="post.category" #category="ngModel" required>
                                    <option *ngFor="let category of categories" [ngValue]="category">{{category?.category}}</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </section>
                <section layout="row" layout-sm="column" layout-align="start center" layout-wrap>
                    <label class="md-label">Topics</label>
                    <label class="tag md-button md-raised" md-raised-button *ngFor="let topic of topics" [ngClass]="topic.selected ? 'selected' : ''">
                        <input type="checkbox" name="topics" (change)="topic.selected = !topic.selected" /> {{topic.topic}}
                    </label>
                    
                    <button type="button" md-mini-fab (click)="newTopic = true">
                        <md-icon class="md-24">add</md-icon>
                    </button>
                </section>
                <section *ngIf="newTopic" layout="row">
                    <md-input name="topic" placeholder="Topic" type="text" #topic></md-input>
                    
                    <button type="button" md-raised-button class="md-raised" (click)="addTopic(topic)">Add Topic</button>
                </section>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <label class="md-label">Excerpt</label>
                    <textarea class="md-textarea" name="excerpt" [(ngModel)]="post.excerpt" maxlength="400" rows="3" required></textarea>
                </section>
                <section ng2FileDrop [uploader]="uploader" layout="row" [ngClass]="{'nv-file-over': hasBaseDropZoneOver, 'nv-file-uploading': uploader.isUploading}" (fileOver)="fileOverBase($event)" layout-sm="column" layout-align="center center" layout-wrap>
                    <label class="md-label">Post Body <em>(drop images to upload)</em></label>
                    <textarea class="md-textarea" name="post" [(ngModel)]="post.post" rows="20" required id="post"></textarea>
                    <p class="help-text"><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheat Sheet</a></p>
                </section>
            </md-content>
        </form>
        <div flex="50" layout-padding>
            <label>Preview</label>
            <div class="callout">
                <h4>{{post.title}}</h4>
                <br />
                <div [innerHTML]="markdown.render(post.post)"></div>
            </div>
        </div>
    </div>
</div>