@import "../../variables";

.menu-brand {
    width: 60px;
    padding-right: 20px;
    img {
        max-width: 100%;
        height: auto;
    }
}

.menu {
    a.router-link-active {
        background: transparent;
        color: #555;
        border-bottom: 1px inset #777;
    }
}