<section class="post hero">
    {{{header}}}
    <div class="row intro">
        <div class="copy medium-centered medium-8 columns">
            <h2>{{title}}</h2>
        </div>
    </div>
</section>

<div class="row main-content">
    <div class="medium-3 columns sticky">
        {{> contact-widget}}
        {{> posts-widget}}
    </div>
    <div class="medium-9 columns end">
        <article>
            {{{markdown pageContent}}}
        </article>
        <aside>
            <h4>Our Power BI Samples</h4>
            <div class="row" data-equalizer data-equalize-on="medium">
                {{#each powerBISamples}}
                <div class="medium-4 columns {{#if @last}}end{{/if}}">
                    <div class="callout power-bi" data-equalizer-watch>
                        <a data-open="powerBIModal{{@index}}">
                        {{#if previewImageUrl}}
                        <img src="{{previewImageUrl}}" />
                        {{else}}
                        <img src="http://www.fillmurray.com/336/112" />
                        {{/if}}
                        </a>
                        <br />
                        <br />
                        <h5 class="power-bi-title"><a data-open="powerBIModal{{@index}}">{{title}}</a></h5>
                        {{{markdown (truncate description 60)}}}
                        <div class="reveal large" id="powerBIModal{{@index}}" data-reveal>
                            <h3>{{title}}</h3>
                            {{{markdown description}}}
                            <div class="flex-video widescreen">
                                <iframe width="1600" height="900" src="{{url}}" frameborder="0" allowFullScreen="true"></iframe>
                            </div>
                            <button class="close-button" data-close aria-label="Close reveal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </aside>
    </div>
</div>