<div class="row main-content">
    <div class="medium-6 columns">
        <div class="flex-video"><iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed/viewer.aspx?v=3&amp;cp=45.528701~-122.688261&amp;lvl=16&amp;w=500&amp;h=400&amp;sty=r&amp;typ=d&amp;pp=~~45.528415~-122.685042&amp;ps=&amp;dir=0&amp;mkt=en-us&amp;src=SHELL&amp;form=BMEMJS"></iframe></div>
        <address>
            734 NW 14th Avenue<br />
            Portland, OR 97209
        </address>
        <div style="margin: 12px 0 0 0;"><a target="_blank" href="https://www.bing.com/maps/?cp=45.528701~-122.688261&amp;sty=r&amp;lvl=16&amp;where1=45.528415,-122.685042&amp;mm_embed=map">View Larger Map</a>&nbsp; |&nbsp; <a target="_blank" href="https://www.bing.com/maps/?cp=45.528701~-122.688261&amp;sty=r&amp;lvl=16&amp;rtp=~pos.45.528415_-122.685042__&amp;mm_embed=dir">Get Directions</a>&nbsp; |&nbsp; <a target="_blank" href="https://www.bing.com/maps/?cp=rkn7w04s8mnp&amp;sty=b&amp;lvl=18&amp;where1=45.528415,-122.685042&amp;mm_embed=be">View Bird's Eye</a></div>
    </div>
</div>