<section class="post hero">
    {{{header}}}
    <div class="row intro">
        <div class="copy medium-centered medium-8 columns">
            <h2>{{title}}</h2>
        </div>
    </div>
</section>

<div class="row main-content">
    <div class="medium-3 columns sticky">
        {{> contact-widget}}
        {{> posts-widget}}
    </div>
    <div class="medium-9 columns">
        <article>
            <p>Do you have a dependency on spreadsheet or paper-based processes that are inconsistent, inefficient, or not widely adopted throughout your business? Or an outdated application that no longer aligns to your processes or doesn't work on mobile devices? Don't worry - we can help.</p>
            
            <p>At CSG, our Application Development Team combines the latest Open Source and Microsoft technologies, such as Angular and ASP.NET Web API, to develop modern applications that are accessible at any time, from any device. Your users, both internal and external, will thank you for giving them applications that are easy and enjoyable to use.</p>
            
            <p>We're passionate about designing and building applications that improve your relationships with customers or make your employees more productive. We're experts at gathering requirements, user experience, interface design, agile development, automated testing, deployment using continuous integration, and hosting applications in the Cloud.</p>
            
            <p>Already have a development team? No problem, we're happy to work on blended teams. Combining our developers with yours can be an enormously successful way to develop complex, mission-critical applications while your team receives mentoring on how to use the latest technologies.</p>
            
            <p>CSG also offers optional managed services agreements, so that you can be assured that your application will continue to support your business, long after it has gone into production.</p>
            
            <p>Why CSG? Our commitment is delighting you. You’ll see it through our people, they’ll make the difference. Realize for yourself the kind of success our clients expect and have come to know since 1993.</p>
        </article>
    </div>
</div>