<section class="post hero">
    {{{header}}}
    <div class="row intro">
        <div class="copy medium-centered medium-8 columns">
            <h2>{{title}}</h2>
        </div>
    </div>
</section>

<div class="row main-content">
    <div class="medium-3 columns sticky">
        <div class="widget callout csg">
            <h5 class="widget-title">We're Here For You</h5>
            <p>Let us know how we can make your next project a success.</p>
            <button type="button" data-toggle="contactModal" class="primary hollow button expanded">reach out</button>
        </div>
        {{> posts-widget}}
    </div>
    <div class="medium-9 columns end">
        <article>
            {{{markdown pageContent}}}
        </article>
    </div>
</div>