<section class="post hero">
    <img data-interchange="[/resources/images/post/header-marina-small.jpg, small], [/resources/images/post/header-marina-medium.jpg, medium], [/resources/images/post/header-marina-large.jpg, large]">
    <div class="row intro">
        <div class="copy medium-centered medium-8 columns">
            <h2>{{title}}</h2>
        </div>
    </div>
</section>

{{#with post}}
<div class="row main-content">
    <div class="medium-2 columns sticky">
        
        <div class="small-2 medium-12 columns">
            <img src="{{author.photoUrl}}" class="author thumbnail" />
        </div>
        
        <div class="small-10 medium-12 columns">
        
            <h6 class="subheader">By {{author.fullName}} on {{formatDate publishedAt "l"}}</h6>
            
            <div class="sharing">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="csgpro">Tweet</a>
            </div>
            
            <div class="labels show-for-large">
                <a href="{{category.permalink}}" class="info label"><i class="fi-folder"></i> {{category.category}}</a>
            {{#each topics}}
                <a href="{{permalink}}" class="info label"><i class="fi-price-tag"></i> {{topic}}</a>
            {{/each}}
            </div>
            
        </div>
        
    </div>
    <div class="medium-8 columns end post">
        <article>
            {{{markdown post}}}
            
            {{> disqus}}
        </article>
    </div>
</div>
{{/with}}

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>