<div class="callout large secondary">
    <div class="row column text-center">
        <h1>{{topic.topic}}</h1>
    </div>
</div>

<div class="row" id="content">
    <div class="medium-8 columns">
        
        {{#each topic.posts}}
        <div class="blog-post" style="min-height: 300px;">
            <div class="media-object">
                <div class="media-object-section">
                    <img src="{{{author.photoUrl}}}" class="author thumbnail" />
                </div>
                <div class="media-object-section">
                    <h3><a href="{{permalink}}">{{title}}</a></h3>
                    <h5 class="subheader">By {{author.fullName}} on {{formatDate publishedAt "l"}}</h5>
                    <p>{{excerpt}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        
    </div>
</div>