<div class="row">
    <div class="column">
        <h2>What's on your mind?</h2>
        <p class="lead">We want to hear from you.</p>
    </div>
</div>
<form class="contact-form">
    <div class="callout hide"><!-- placeholder for validation messages --></div>
    <div class="form-body">
        <div class="row">
            <div class="medium-6 columns">
                <label>Your Name
                    <input type="text" name="name" required>
                </label>
            </div>
            <div class="medium-6 columns">
                <label>Email Address
                    <input type="email" name="email" required>
                </label>
            </div>
            <div class="medium-6 columns">
                <label>Company (optional)
                    <input type="text" name="company">
                </label>
            </div>
            <div class="medium-6 columns">
                <label>Phone (optional)
                    <input type="tel" name="phone" pattern="^1?\W*([2-9][0-8][0-9])\W*([2-9][0-9]{2})\W*([0-9]{4})\s*.*$">
                </label>
                <p class="help-text" id="passwordHelpText">Ex: (555) 555-5555 x555</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label>
                    Tell us what you need
                    <textarea name="note" required></textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="medium-4 small-centered columns">
                <button class="expanded button">submit</button>
            </div>
        </div>
    </div>
</form>