<footer class="main-footer">
    <div class="row column footer-content">
        <a href="/" class="show-for-large"><img src="/resources/images/site/csg-pro-logo.png" style="width: 40px;"></a>
        <ul class="csg-links">
        {{#each sitemap}}
            <li {{#if nested}}class="nested"{{/if}}><a href="{{path}}">{{title}}</a></li>
        {{/each}}
        </ul>
        
        <p class="copyright">&copy; 1993‐{{formatDate "YYYY"}} CSG Professional Services, Inc. All rights reserved.</p>
        
    </div>
</footer>