<div class="top-bar show-for-medium">
    <div class="row">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="name">
                    <a href="/">{{sitename}}</a>
                </li>
                <li class="toggle-topbar"><a href="#"></a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu show-for-medium">
                <li><a href="/blog">Blog</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/careers">Careers</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="title-bar hide-for-medium">
    <div class="title-bar-left">
        <button class="fi-list" style="font-size: 24px;" type="button" data-open="offCanvas" aria-expanded="false" aria-controls="offCanvas"></button>
        <span class="title-bar-title">{{sitename}}</span>
    </div>
</div>