
{{! Import the contents of side-nav.html from partials}}
{{> side-nav}}

<div class="csg top-bar show-for-medium">
    <div class="row">
        <ul class="menu">
            <li><a href="/custom-software">Custom Software</a></li>
            <li><a href="/business-analytics">Business Analytics</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/"><img src="/resources/images/site/csg-pro-logo.png"></a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</div>
<div class="title-bar hide-for-medium">
    <div class="title-bar-left">
        <button class="fi-list" style="font-size: 24px;" type="button" data-open="offCanvas" aria-expanded="false" aria-controls="offCanvas"></button>
        <span class="title-bar-title">{{sitename}}</span>
    </div>
</div>