<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}} | {{sitename}}</title>
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/resources/styles/main.css">
    <link rel="stylesheet" href="/resources/styles/foundation-icons/foundation-icons.css">
    
    <link rel="icon" type="image/x-icon" href="/resources/images/site/favicon.ico">
    
    <script src="https://use.typekit.net/yuz6tsm.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script>
        if (location.host === 'www.csgpro.com') {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-29382747-1', 'auto');
            ga('send', 'pageview');
        }
    </script>

</head>