<section class="hero expand">
    <img data-interchange="[/resources/images/site/hero-bg-small.jpg, small], [/resources/images/site/hero-bg-medium.jpg, medium], [/resources/images/site/hero-bg-large.jpg, large]">
    <div class="intro">
        <div class="row">
            <!--<div class="graphic medium-5 large-4 medium-push-7 large-push-8 columns">
                <img src="/resources/images/site/hero-graphic.png" />
            </div>-->
            <div class="copy small-centered small-10 medium-8 columns">
                <h1>Custom Software Solutions</h1>
                <h2>&amp; Business Analytics</h2>
            </div>
        </div>
        <div class="text-center">
            <button type="button" data-toggle="contactModal" class="large button">reach out</button>
        </div>
    </div>
</section>