<div ng-controller="ToolbarCtrl as toolbar" class="toolbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="pull-left">
                    <button class="btn btn-xs btn-default" ng-click="toolbar.returnToList()" ng-show="toolbar.returnButtonEnabled()">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                    &nbsp;
                </div>
                <h2 class="page-title">
                    {{ pageTitle }}
                </h2>
            </div>
            <div class="col-sm-8">

                <div class="pull-right">
                    <span ng-repeat="button in toolbar.otherButtons()">
                        <button type="button" class="btn btn-xs" ng-class="button.btnClass" ng-click="button.clickFn()">
                            <span class="glyphicon" ng-class="button.btnGlyph"></span> <span ng-bind="button.btnText"></span>
                        </button>
                    </span>
                    <button type="button" class="btn btn-xs btn-primary" ng-click="toolbar.addItem()" ng-show="toolbar.addButtonEnabled()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-primary" ng-click="toolbar.editItem()" ng-show="toolbar.editButtonEnabled()">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-success btn-xs" ng-click="toolbar.saveRecord()" ng-show="toolbar.saveButtonEnabled()">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="toolbar.cancel()" ng-show="toolbar.cancelButtonEnabled()">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
