<div class="modal-header">
	<h4 class="modal-title">{{modalVM.title}}</h4>
</div>
<div class="modal-body">
	<div ng-show="!modalVM.uploading">
		<div class="form-group" ng-show="modalVM.showDescription()">
			<label class="control-label">Description</label>
			<input class="form-control" ng-model="modalVM.description" />
		</div>
		<button class="btn btn-primary btn-sm btn-block" ng-file-select="modalVM.onFileSelect($files)">{{modalVM.buttonLabel}}</button>
	</div>
	<progressbar ng-show="modalVM.uploading" value="100" class="progress-striped active"><b>Uploading</b></progressbar>
</div>
<div class="modal-footer">
	<button class="btn btn-warning btn-xs" ng-click="modalVM.cancel()">Cancel</button>
</div>
