.stories-slider {
    .orbit-caption {
        // TODO: Add Media Queries for Small Screens
        font-size: 1.5rem;
        position: absolute;
        top: 10%;
        left: 0;
        bottom: auto;
        width: 40%;
        margin-left: 5%;
    }
}