@import 'foundation';
@import 'syntax_highlighting';
@import 'hero';
@import 'home';
@import 'top-bar';

@include foundation-everything;

a.label {
    &:focus, &:hover {
        cursor: pointer;
        color: #fff;
    }
}

.author.thumbnail {
    max-width: 200px;
    height: auto;
}

li.nested {
    margin-left: 1rem;
}

.title-bar button {
    vertical-align: middle;
}