<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{{title}}}</title>
        <meta name="description" content="{{{description}}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/foundation-icons/foundation-icons.css">
    </head>
    <body>
        {{! Import the contents of header.html from partials}}
        {{> header}}
        
        {{{content}}}
        
        <script src="/scripts/vendor.bundle.js"></script>
        <script src="/scripts/scripts.bundle.js"></script>
    </body>
</html>