<!DOCTYPE html>
<html>
    {{> head}}
    <body>
        <div class="off-canvas-wrapper">
            <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

                {{! Import the contents of header.html from partials}}
                {{> header}}
                
                <hr class="top-bar-accent show-for-medium" />
                
                <div class="main-content">
                    {{{content}}}
                </div>
            </div>
        </div>
        
        {{> scripts}}
        
    </body>
</html>